{% extends 'teacher/teacher_base.html'%}

{% block "main_content" %}

          <!-- Page Heading -->

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">查看题目</h1>


          </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-6 col-md-6 mb-4">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-1 small" placeholder="知识点" aria-label="Search" aria-describedby="basic-addon2">
                            <input type="text" class="form-control bg-light border-1 small" placeholder="题目编号" aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>

            </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->



          </div>




          <div class="row">

            <div class="col-lg-6">

              <!-- Default Card Example -->
              <div class="card mb-4">
                <div class="card-header">
       
                      <div class="custom-control custom-checkbox small">
                        <h6 class="m-0 font-weight-bold text-primary" style="line-height: 1.5rem;">知识点：XXXX</h6>
                      </div> 
                </div>
                <div class="card-body">
                  <p>木星绕太阳运行的轨道都可以看作是圆形。已知木星的轨道半径约为地球轨道半径的5.2倍，则木星与地球绕太阳运行的线速度之比约为</p>
                  <p>A. 11：25 </p>
                  <p>B. 7：9</p>

                </div>
              </div>
              <div class="card mb-4">
                <div class="card-header">
                      <div class="custom-control custom-checkbox small">
                        <h6 class="m-0 font-weight-bold text-primary" style="line-height: 1.5rem;">知识点：XXXX</h6>
                      </div>                 </div>
                <div class="card-body">
                  <p>木星绕太阳运行的轨道都可以看作是圆形。已知木星的轨道半径约为地球轨道半径的5.2倍，则木星与地球绕太阳运行的线速度之比约为</p>
                  <p>A. 11：25 </p>
                  <p>B. 7：9</p>

                </div>
              </div>

            </div>

            <div class="col-lg-6">
              <div class="card mb-4">
                <div class="card-header">
                      <div class="custom-control custom-checkbox small">
                        <h6 class="m-0 font-weight-bold text-primary" style="line-height: 1.5rem;">知识点：XXXX</h6>  
                      </div>                 </div>
                <div class="card-body">
                  <p>木星绕太阳运行的轨道都可以看作是圆形。已知木星的轨道半径约为地球轨道半径的5.2倍，则木星与地球绕太阳运行的线速度之比约为</p>
                  <p>A. 11：25 </p>
                  <p>B. 7：9</p>

                </div>
              </div>
              <div class="card mb-4">
                <div class="card-header">
                      <div class="custom-control custom-checkbox small">
                       <h6 class="m-0 font-weight-bold text-primary" style="line-height: 1.5rem;">知识点：XXXX</h6> 
                      </div>                 </div>
                <div class="card-body">
                  <p>木星绕太阳运行的轨道都可以看作是圆形。已知木星的轨道半径约为地球轨道半径的5.2倍，则木星与地球绕太阳运行的线速度之比约为</p>
                  <p>A. 11：25 </p>
                  <p>B. 7：9</p>

                </div>
              </div>


            </div>

          </div>


          <hr>
{% endblock %}
