{% extends 'teacher/teacher_base.html'%}

{% load staticfiles %}


{% block "stylesheets" %}
<style>
  .classFontSize{
    font-size: 16px;
  }

  @media screen and (max-width: 500px)  {
    .classFontSize{
      font-size: 12px;
    }
    p{
      margin-bottom: 0;
    }

  }

</style>


{% endblock %}


{% block "main_content" %}


          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">测试详情</h1>
<!--           <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>
 -->
          <!-- DataTales Example -->
          <div class="card shadow mb-4 classFontSize">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">{{info.title}}</h6>
              <!--<a href='{% url "quiz-page"%}?quiz_record_id={{quiz_record_id}}' class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i>测试卷面</a>-->
            </div>
            <div style="padding-left:20px; padding-top:10px;">
            {% if quiz_record_paper_uri %}
            <div style='float:right'>
             <a href = '{{TEMPLATES_ID}}/templates-static/templates/pdf/{{quiz_record_paper_uri}}'style="margin-right:20px;color:white" id='quiz_record_paper' class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">班级报告</a>
             </div>
             {% endif %}
            <div style='float:right'>
             <a href='{% url "quiz-page"%}?quizRecordId={{quiz_record_id}}' style="margin-right:20px;color:white" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">试卷详情</a>
             </div>
            <p>组卷人：{{generator}}</p>
            <p>科目：{{subject}}</p>
            <p>班级：{{cls}}</p>
            <p>未参加人数：{{non_participants_num}}</p>
            <p> <a style='color:#1fc88d;cursor:pointer' id='add_quiz_record_paper'>点击生成班级报告>>>></a></p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>学号</th>
                      <th>姓名</th>
                      <th>成绩</th>
                      <th>排名</th>
                      <th>测试时间</th>
                      <th>进度</th>
                      <th>详情</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for student in students %}
                    <tr>
                      <th>{{student.student_no}}</th>
                      <th>{{student.name}}</th>
                      <th>{{student.score}}</th>
                      <th>{{student.rank}}</th>
                      <th>{{student.time}}</th>
                      <th>{{student.status}}</th>
                      <th>
                      {% if student.student_quiz_record_id %}
                        <a href="{% url "student-quiz-record" %}?student_quiz_record_id={{student.student_quiz_record_id}}">详情</a>
                      {% else %}
                        ——
                      {% endif %}
                      </th>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>


        <!-- /.container-fluid -->
{% endblock %}

{% block "scripts" %}

  <!-- Page level plugins -->
  <script src="{% static "assets/vendor/datatables/jquery.dataTables.min.js" %}"></script>
  <script src="{% static "assets/vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static "assets/js/demo/datatables-demo.js" %}"></script>
  <script type="text/javascript" src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript">
        var cls_id="{{cls_id}}"
        $('#add_quiz_record_paper').click(function(){
            $.get("{% url "get-class-quiz-report" %}?cls_id=" + cls_id + "&quiz_record_id={{quiz_record_id}}", function (data, status) {
                if(data=="OK"){
                    alert('班级报告生成成功！')
                    //window.location.reload();
                }else{
                    alert('班级报告生成失败！')
                }
            })
        })
  </script>



{% endblock %}

