{% extends 'teacher/teacher_base.html'%}
{% load staticfiles %}

{% block "stylesheets" %}
{% endblock %}

{% block "main_content" %}
 <div id ='img_all' style="width: 100%;background: url(http://47.110.253.251/aleks-static/assets/img/blueprint.png);height: 100%">
        <img src="http://47.110.253.251/aleks-static/assets/img/error-pin.png" style="position:absolute; top:0;left:140" id="img_one">
        <div>
            <img src="http://47.110.253.251/aleks-static/assets/img/error-hanger.png" style="position:absolute; top:17;left:0" id="img_two" />
        </div>

        <div style="position:absolute; top:147;left:8;width: 300px" id="div_one">
            <p style="text-align: center;margin: 10px"><strong style="color: #444444;font-size:26px">error</strong></p>
            <p style="text-align: center; font-size: 28px ;margin: 10px"><strong style="color: #444444">{{errorType}}</strong></p>
        </div>
    </div>
{% endblock %}
{% block "scripts" %}
<script type="text/javascript">
    $(document).ready(function () {
        var content = $('#img_all').width()
        content= (content-317)/2
        var top = 50 
        console.log(content)
        $('#img_one').css({"top":top,"left":content+140});
        $('#img_two').css({"top":top+17,"left":content});
        $('#div_one').css({"top":top+147,"left":content+8});


    })
</script>
{% endblock %}
