{% extends 'teacher/teacher_base.html'%}
{% load staticfiles %}

{% block "stylesheets" %}
<style>
    *{
        margin:0;
        padding:0;

    }
    html,body{
        width:100%;
        height:100%;
    }
    .myContainer{
        width:80%;
        margin:0 auto;
        margin-bottom: 20px;
        margin-top:30px;
        /*border:1px solid #dddddd;*/
        /*border-radius:1px;*/
        border:5px solid #1d8ce0;
        border-radius:30px;
        padding: 30px 10px;

    }
    label{
        display:block;
        background-color: #F5F5F5;
        width:98%;
        height:40px;
        margin:0 auto;
        border-radius:5px;
        border:1px solid #dddddd;
        margin-top:10px;
        line-height: 40px;
    }
    .gradeText{
        margin-left: 20px;
    }
    .imgClass{
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
    .context{
        width:96%;
        margin:0 auto;
        border:1px solid #dddddd;
        border-radius:2px;
        transition:height 0.5s linear;
        -webkit-transition:height 0.5s linear;
        -moz-transition:height 0.5s linear;
        -ms-transition:height 0.5s linear;
    }
    /*input:checked + label + .context{
        visibility: visible;
       !* height:150px;*!
    }*/
    .hide {
        display: none;
    }


</style>

{% endblock %}



{% block "main_content" %}

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">我的班级</h1>

           <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-target="#createClassModal" data-toggle="modal"><i class="fas fa-download fa-sm text-white-50"></i> 新建班级</a>-->
          </div>


<div class="myContainer">


</div>




{% endblock %}

{% block "scripts" %}
    <script type="text/javascript">
        var gradeUpdate = function(grade){
            console.info("-----"+grade)
            switch (parseInt(grade)) {
                case 1 : return "小学一年级";
                case 2 : return "小学二年级";
                case 3 : return "小学三年级";
                case 4 : return "小学四年级";
                case 5 : return "小学五年级";
                case 6 : return "小学六年级";
                case 7 : return "初中一年级";
                case 8 : return "初中二年级";
                case 9 : return "初中三年级";
                case 10 : return "高中一年级";
                case 11 : return "高中二年级";
                case 12 : return "高中三年级";
            }
        };

        var gradeClick = function(grade){
            // $(".hiddenDiv").addClass("hide");
            console.info($('div[grade_num="'+grade+'"]').hasClass("hide"))
            if($('div[grade_num="'+grade+'"]').hasClass("hide")){
                $('div[grade_num="'+grade+'"]').removeClass("hide");
                $('img[grade_num="'+grade+'"]').attr('src', "{% static "assets/img/down.png" %}");
            }else{
                $('div[grade_num="'+grade+'"]').addClass("hide");
                $('img[grade_num="'+grade+'"]').attr('src', "{% static "assets/img/add.png" %}");
            }
        };


        //卡片点击事件
        $(document).on("click","div[name='Cls']",function () {
            var clsId = $(this).parent().attr("id")
            $(location).attr('href', '{% url "school-get-class-detail" %}?clsId=' + clsId);
        });


        $(document).ready(function () {
            $.get("{% url 'ajax-my-classes' %}",function (data,status) {
                var dataJson = JSON.parse(data);
                var classInformation = {};
                for(var item in dataJson){
                    if(!classInformation[dataJson[item].grade]){
                        classInformation[dataJson[item].grade] = [];
                    }
                    classInformation[dataJson[item].grade].push(dataJson[item]);
                }
                var htmlString = '';
                var grade = 0;
                for(var item in classInformation){
                    grade = gradeUpdate(item);
                    htmlString += '<label onclick="gradeClick('+item+')" ><span class="gradeText"><img src="{% static "assets/img/add.png" %}"  grade_num="'+item+'"  class="imgClass" >'+grade+'</span></label><div  grade_num="'+item+'"  class="context hiddenDiv hide">' ;
                    for(var value in  classInformation[item]){
                        htmlString += '<div style="margin: 5px">\n' +
                            '                <div class="card mb-4" id="'+classInformation[item][value].id +'">\n' +
                            '                  <div class="card-header">\n' +
                            '                    <h6 class="m-0 font-weight-bold text-primary">'+classInformation[item][value].name+'</h6>  \n' +
                            '                  </div>\n' +
                            '                  <div class="card-body" name="Cls" style="cursor: pointer">\n' +
                            '                    <p>人数：'+classInformation[item][value].num +'</p>\n' +
                            '                    <p>学科：'+classInformation[item][value].subject +'</p>\n' +

                            '                  </div>\n' +
                            '                </div>\n' +
                            '              </div>'
                    }
                    htmlString += "</div>"
                }
                $('.myContainer').html(htmlString);
            })
        })


    </script>



{% endblock %}

