{% extends 'teacher/teacher_base.html'%}

{% block "stylesheets" %}
    <link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
    <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/x-mathjax-config">
	    MathJax.Hub.Config({
	        tex2jax: {inlineMath: [['$', '$'], ['/[', '/]'],['\\(', '\\)'], ['\\ce{', '\}']]},
	        messageStyle: "none"
	    });
	</script>

<style>
    .cardFontSize{
        font-size: 16px;
    }

    @media screen and (max-width: 500px)  {
        .cardFontSize{
            font-size: 12px;
        }
    }

</style>

{% endblock %}

{% block "main_content" %}

<!-- Begin Page Content -->

<!-- Page Heading -->


<!-- Page Heading -->
<!--试卷信息-->

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">试题审核</h1>
</div>
<!--题目卡片-->
{% if questions %}
<div class="card mb-4" style="width: 100%;float: right">
    <div class="card-body">
        <div class="row cardFontSize" id="question-container">
            {% for q in questions %}
            <div class="col-lg-12">
                <!-- Default Card Example -->
                <div class="card mb-4">
                    <div class="card-header" question_id = "{{q.question.id}}">                              
                        <h6 class="m-0 font-weight-bold text-primary"style="line-height: 1.5rem;float:left;width:50%">
                            <span style="padding-right:25%">录题人：{{q.question.uploader.username}}</span>
                            <span>录题时间：{{q.question.datetime|date:"Y-m-d"}}</span>
                        </h6>
                        <a id ="pass"  style="color:white; float:right; margin-left:10px" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">通过审核</a>
                        <a id ="return" style="color:white; float:right; " class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">返回修改</a>
                    </div>
                    <div class="card-body">
                        <p>{{q.question.body}}</p>
                        {% if q.question.img %}
                            <div>
                            	<img src="{{TEMPLATES_IP}}/evaluation-img/{{q.question.img}}">
                            </div>
                        {% endif %}
                        {% for o in q.options %}
                            <div style="float:left;padding-right:50px;padding-left:50p">
                        	    <p>{{o.order}}.{{o.body}} {{o.knowledgenode_id}}</p>
                        	    {% if o.img %}
                            	    <img src="{{TEMPLATES_IP}}/evaluation-img/{{o.img}}">
                        	    {% endif %}

                            </div>
                    	{% endfor %}
                        <div style="width:100%;clear:both">
                            <hr/>
                            <p>【正确答案】：{{q.true_option}}</p>
                            <P>【错因分析】：{% for r in  q.error_reasons %}{{r.option}}：{% for error in r.error_reason %}{{error}}；{% endfor %}{% endfor %}</p>
                            <p>【题干知识点】：{% for k in q.knowledge_nodes %} {{k.title}}； {% endfor %}</p>
                            <p>【选项知识点】：{% for k in q.option_konwledge_nodes %}{{k.option}}：{% for node in k.knowledge_nodes %}{{node}}；{% endfor %}{% endfor %}</p>
                            <p>【解析】：{{q.question.analysis}}</p>
                            {% if q.question.analysis_img %}
                                <div>
                                    <img src="{{TEMPLATES_IP}}/evaluation-img/{{q.question.analysis_img}}">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div style="text-align: center;">
            {% if page != 1%}
            <span style="margin: 10px; cursor: pointer" id="previous_page">上一页</span>
            {% endif %}
            <span style="margin-left: 10px"span>{{page}}</span>/<span style="margin-right: 10px">{{max_page}}</span>
            {% if page < max_page %}
            <span style="margin: 10px; cursor: pointer" id="next_page">下一页</span>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
<!-- /.container-fluid -->
{% endblock %}
{% block "scripts" %}
<script type="text/javascript" async src="https://cdn.bootcss.com/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    MathJax.Ajax.config.path["mhchem"] = "https://cdnjs.cloudflare.com/ajax/libs/mathjax-mhchem/3.3.2";
    MathJax.Hub.Config({
        TeX: {
            extensions: ["[mhchem]/mhchem.js"],
        }
    });
</script>


<!--<script type="text/javascript" src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>-->
<script type="text/javascript">
	window.onload=function(){
        MathJax.Hub.Queue(['Typeset', MathJax.Hub, document.getElementById("question-container")]);
        // MathJax.Hub.Typeset();
	}
    var page = {{page}}
    var max_page ={{max_page}}
    //上一页点击事件
    $(document).on('click', '#previous_page', function () {
        page = page-1
        $(location).attr('href', '/abc/quiz/check_questions/?page='+page);
    });
    //下一页点击事件
    $(document).on('click', '#next_page', function () {
        page = page+1
        $(location).attr('href', '/abc/quiz/check_questions/?page='+page);
    });
     //审核通过点击事件
     $(document).on('click','#pass',function(){
        var id = $(this).parent().attr('question_id')
        console.log(id)
        $.post("{% url "check-questions" %}",{"questions_id":id,"status":"P"},function(data,status){
            if (data=="OK"){
                window.location.reload();
            }
        })
     })
     //返回修改点击事件
     $("#return").click(function(){
        var id = $(this).parent().attr('question_id')
        console.log(id)
        $.post("{% url "check-questions" %}",{"questions_id":id,"status":"R"},function(data,status){
            if (data=="OK"){
                window.location.reload();
            }
        })
    })

</script>
{% endblock %}
