{% extends 'teacher/teacher_base.html'%}

{% block "stylesheets" %}
<link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
<link href="http://47.110.253.251/assets/css/RegionalChoice.css" rel="stylesheet">
<style>
    a {
        font-size: 15px;
        text-decoration: none;
    }

    a:hover {
        font-size: 17px;
        color: #999999;
    }

    .tree2 {
        padding-left: 20px;
        display: none;
    }

    img {
        width: 15px;
    }

    .tree_body {
        cursor: pointer;
        padding-left: 20px;
    }

    /* 书籍弹框*/

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .containor {
        width: 1000px;
        height: auto;
        position: relative;
        margin: 0 auto;

    }

    .nav_left ul {
        width: 100%;
        height: auto;
    }

    .nav_left ul li {
        height: 50px;
        line-height: 50px;
        text-align: left;
    }

    .nav_left ul li span {
        padding-left: 10px;
        height: 50px;
        line-height: 50px;
        display: block;
    }

    .nav_right {
        width: 800px;
        height: 500px;
        position: absolute;
        margin-left: 200px;
        top: 0px;
    }

    .sub {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 280px;
        background: #FFFFFF;
        padding: 10px 0px;
        z-Index: 2;
    }

    .sub dl {
        overflow: hidden;
        padding: 0px 0px 10px 0px;
    }

    .sub dt {
        width: 100px;
        float: left;
        display: block;
        position: relative;
        clear: left;
    }

    .sub dt a {
        font-size: 14px;
        color: #000;
        font-weight: bold;
        text-align: center;
        padding-left: 20px;
        text-decoration: none;
        cursor: pointer;
    }

    .sub dt i {
        width: 4px;
        right: 12px;
        top: 2px;
        font-size: 14px;
        position: absolute;
        font-style: normal;
    }

    .sub dd {
        width: 680px;
        float: left;
        display: block;
        position: relative;
        overflow: hidden;
        padding-right: 20px;
        border-bottom: 1px dashed #E3E3E3;
    }

    .sub dd a {
        font-size: 12px;
        float: left;
        color: #666;
        padding: 0 10px;
        margin: 4px 0px 10px 0px;
        text-decoration: none;
        cursor: pointer;
        border-left: 1px solid #E3E3E3;
    }


    .hide {
        display: none;
    }

    .show {
        display: block;
    }

    .infoWin {
        position: fixed;
        right: 20px;
        bottom: 400px;
        width: 50px;
        height: 50px;
        z-Index: 2;
    }
    #questionInput{
        text-align: left;
        margin: 0.5rem 0 0.5rem 0;
        padding: .375rem .75rem;
        background-color: #f8f9fc;
        border:#e5e5e5 1px solid;
        border-radius:5px;
    }
    #questionSelect{
        margin: 0.5rem 0 0.5rem 0;
        padding: .375rem .75rem;
        background-color: #f8f9fc;
        border:#e5e5e5 1px solid;
        border-radius:5px;
        font-family: inherit;
        font-size: inherit;
        font-weight: 400;
        color:#858694;
    }
    #questionSelect option{
        font-family: inherit;
        font-size: inherit;
        font-weight: 400;
        color:#858694;
    }




</style>
{% endblock %}

{% block "main_content" %}

<!-- Begin Page Content -->

<!-- Page Heading -->


<!-- Page Heading 标题头部 -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">组卷选题</h1>
    <span></span>
    <a href="javascript:void(0);" class="d-none d-sm-inline-block btn btn-default btn-sm btn-primary shadow-sm infoWin"
       data-toggle="modal" data-target="#myModal" style="cursor: pointer;height: 80px;width:40px"> 选题篮</a>
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 1200px">
            <div class="modal-header">
                <h4 id="myModalLabel" class="h4 mb-0 text-gray-800" style="float: left">
                    选题篮
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
            </div>
            <div class="modal-body">
                <div class="card shadow mb-4" style="width: 100%">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">已选题目</h6>
                    </div>
                    <div class="card-body">
                        测试题目:<input type="text"  id="questionInput" placeholder="请输入题目">&nbsp;&nbsp;
                        测试类型:<select id="questionSelect"><option value="small">综合测评</option><option value="suitang">随堂测</option></select>
                        <button class="pull-right btn btn-primary" id="submit-quiz" style="margin: 0.5rem 0 0.5rem 1rem;">保存试卷</button>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="selected_questions" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th style="width: 150px">题号</th>
                                    <th>题目</th>
                                    <th style="width: 250px;">知识点</th>
                                    <th style="width: 150px;">
                                        <button class="pull-right btn btn-primary" id="marking-btn">启用计分</button>
                                    </th>

                                    <th style="width: 150px">操作</th>
                                </tr>
                                </thead>
                                <tbody class="tbodyHtml" id="questionListHtml">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </div>
    </div>
</div>
<!--已选题目-->


<!--目录+题目页面-->
<div class="col-lg-12" style="clear: both">
    <div class="card mb-4 containor" style="width: 25%;float: left">
        <div class="card-body ">
            <!--课本名称-->
            <div class="nav_left">
                <ul>
                    <li class="book-li" data-id="2">当前课本：无</li>
                </ul>
                <hr style="height: 5px"/>
            </div>
            <div class="nav_right">
                <div class="sub hide" data-id="2">
                    <dl>
                        <dt><a>教材： <i> &gt;</i></a></dt>
                        <dd id="book">
                        </dd>
                    </dl>

                </div>
            </div>
            <!--  章节树-->
            <div id="book-tree">
                <div style="text-align: center">未选择教材！</div>
            </div>
        </div>
    </div>
    <!-- 题目页面-->
    <div class="card mb-4" style="width: 73%;float: right">
        <div class="card-body">
            <h6>试题列表:<span style="cursor: pointer"></span></h6>
            <hr style="height: 5px"/>
            <div class="row" id="question-container">
                <div style="text-align: center;width: 100%">暂无试题！</div>
            </div>
            <div style="text-align: center">
                <span style="padding: 10px;cursor: pointer" id="down_page">上一页</span>|<span style="padding: 10px" id="page">1</span>|<span style="padding: 10px;cursor: pointer" id="up_page">下一页</span>
            </div>
        </div>
    </div>
</div>


<!-- /.container-fluid -->
{% endblock %}

{% block "scripts" %}
<script type="text/javascript" async
        src="https://cdn.bootcss.com/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    MathJax.Ajax.config.path["mhchem"] =
        "https://cdnjs.cloudflare.com/ajax/libs/mathjax-mhchem/3.3.2";
    MathJax.Hub.Config({
        TeX: {
            extensions: ["[mhchem]/mhchem.js"]
        }
    });
</script>
<script type="text/javascript" src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    var maxpage = 5;
    var page = 1;
    var section_id = '';
    //存储选中题目
    var checkQuestionList = [];
    //当前题目知识类型
    var nowSubject = '';
    //是否采用计分方式
    var isScore = false;
    //当前教材对应的科目
    var subject='';
    //点击树中的文字进行查询题目
    $(document).on('click', '.tree_body', function () {
        section_id = $(this).attr('tree_body_id');
        nowSubject = $(this).text();
        // console.info(nowSubject);
        page = 1
        // console.log('点击事件！')
        $.get("http://47.110.253.251/abc/quiz/ajax-get-questions-by-section/?section_id=" + section_id + "&page=" + page, function (data, status) {
            if (status == "success") {
                // console.log(data)
                var questions = JSON.parse(data);
                var question_body_html = ''
                for (question_id in questions) {
                    // console.log(question_id)
                    // console.log(questions[question_id])
                    question_body_html += '<div class="col-lg-6">'
                        + '<div class="card mb-4" question-id="' + question_id + '">'
                        + '<div class="card-header">'
                        + '<button class="btn btn-primary select-btn" type="button" onclick="checkQuestionFunction(' + question_id + ')">选择题目</button> ' + question_id
                        + '<a href="/abc/quiz/upload-question/?question_id=' + question_id + '"' + 'id="edit-' + question_id + '"' + ' type="button">编辑题目</a>'
                        + '</div>'
                    question_body_html += '<div class="card-body">'
                        + '<p class="question-body">（单选题）' + questions[question_id]['body'] + '}</p>'
                        + '<p>A、' + questions[question_id]['options']['A']['body'] + ' </p>'
                        + '<p>B、' + questions[question_id]['options']['B']['body'] + ' </p>'
                        + '<p>C、' + questions[question_id]['options']['C']['body'] + ' </p>'
                        + '<p>D、' + questions[question_id]['options']['D']['body'] + ' </p>'
                        + '</div></div></div>'
                }
                // console.log(question_body_html)
                $("#question-container").html(question_body_html);
                MathJax.Hub.Typeset();
            }
        });
        $.get("http://47.110.253.251/abc/quiz/ajax-get-page-count-by-section/?section_id=" + section_id, function (data, status) {
            if (status == "success") {
                maxpage = data;
            }
        })
    });
    //点击上一页
    $('#down_page').click(function () {
        // console.log('上一页')
        if (page > 1) {
            page = page - 1
        }
        // console.log(page)
        $.get("http://47.110.253.251/abc/quiz/ajax-get-questions-by-section/?section_id=" + section_id + "&page=" + page, function (data, status) {
            if (status == "success") {
                // console.log(data)
                var questions = JSON.parse(data);
                var question_body_html = ''
                for (question_id in questions) {
                    question_body_html += '<div class="col-lg-6">'
                        + '<div class="card mb-4" question-id="' + question_id + '">'
                        + '<div class="card-header">'
                        + '<button class="btn btn-primary select-btn" type="button" onclick="checkQuestionFunction(' + question_id + ')">选择题目</button> ' + question_id
                        + '<a href="/abc/quiz/upload-question/?question_id=' + question_id + '"' + 'id="edit-' + question_id + '"' + ' type="button">编辑题目</a>'
                        + '</div>'
                    question_body_html += '<div class="card-body">'
                        + '<p class="question-body">（单选题）' + questions[question_id]['body'] + '}</p>'
                        + '<p>A、' + questions[question_id]['options']['A']['body'] + ' </p>'
                        + '<p>B、' + questions[question_id]['options']['B']['body'] + ' </p>'
                        + '<p>C、' + questions[question_id]['options']['C']['body'] + ' </p>'
                        + '<p>D、' + questions[question_id]['options']['D']['body'] + ' </p>'
                        + '</div></div></div>'
                }
                // console.log(question_body_html)
                $("#question-container").html(question_body_html);
                MathJax.Hub.Typeset();
                $("#page").html(page);
            }
        });
    });
    //点击下一页
    $('#up_page').click(function () {
        // console.log('下一页')
        if (page < maxpage) {
            page = page + 1
        }
        // console.log(page)
        $.get("http://47.110.253.251/abc/quiz/ajax-get-questions-by-section/?section_id=" + section_id + "&page=" + page, function (data, status) {
            if (status == "success") {
                // console.log(data)
                var questions = JSON.parse(data);
                var question_body_html = ''
                for (question_id in questions) {
                    question_body_html += '<div class="col-lg-6">'
                        + '<div class="card mb-4" question-id="' + question_id + '">'
                        + '<div class="card-header">'
                        + '<button class="btn btn-primary select-btn" type="button" onclick="checkQuestionFunction(' + question_id + ')">选择题目</button> ' + question_id
                        + '<a href="/abc/quiz/upload-question/?question_id=' + question_id + '"' + 'id="edit-' + question_id + '"' + ' type="button">编辑题目</a>'
                        + '</div>'
                    question_body_html += '<div class="card-body">'
                        + '<p class="question-body">（单选题）' + questions[question_id]['body'] + '}</p>'
                        + '<p>A、' + questions[question_id]['options']['A']['body'] + ' </p>'
                        + '<p>B、' + questions[question_id]['options']['B']['body'] + ' </p>'
                        + '<p>C、' + questions[question_id]['options']['C']['body'] + ' </p>'
                        + '<p>D、' + questions[question_id]['options']['D']['body'] + ' </p>'
                        + '</div></div></div>'
                }
                // console.log(question_body_html)
                $("#question-container").html(question_body_html);
                $("#page").html(page);
                MathJax.Hub.Typeset();
            }
        });
    });
    //点击书名查询书的结构形成树
    $(document).on('click', '.book-name', function () {
        var book_id = $(this).attr("book_id")
        subject=$(this).attr("subject")
        $.get("http://47.110.253.251/abc/textbook/ajax-get-textbook-structure/?book_id=" + book_id, function (data, status) {
            if (status == "success") {
                var book_data = JSON.parse(data);
                // console.log(book_data)
                var tree_html = ''
                //对章进行排序
                var chapters_order_by_order = book_data.chapters.sort(
                    function (a, b) {
                        if (a.order < b.order) return -1;
                        if (a.order > b.order) return 1;
                        return 0;
                    }
                );
                for (chapter in chapters_order_by_order) {
                    tree_html += '<div style="clear: both">'
                        + '<img src="http://47.110.253.251/evaluation-img/add.png" class="tree_img" did=' + '"' + chapters_order_by_order[chapter].id + '"' + '/><span tree_body_id=' + '"' + chapters_order_by_order[chapter].textbook + '"' + ' class="tree_body">' + chapters_order_by_order[chapter].order + '、' + chapters_order_by_order[chapter].chinese_name + '</span>'
                        + '</div>'
                        + '<div class="tree2" id=' + '"' + chapters_order_by_order[chapter].id + '"' + ' style="clear: both">'
                    //对节进行排序
                    var sections_order_by_order = chapters_order_by_order[chapter].sections.sort(
                        function (a, b) {
                            if (a.order < b.order) return -1;
                            if (a.order > b.order) return 1;
                            return 0;
                        }
                    );
                    for (section in sections_order_by_order) {

                        if (sections_order_by_order[section].parts.length > 0) {
                            tree_html += '<img src="http://47.110.253.251/evaluation-img/add.png" class="tree_img" did=' + '"' + sections_order_by_order[section].id + '"' + '/><span tree_body_id=' + '"' + sections_order_by_order[section].id + '"' + ' class="tree_body">' + sections_order_by_order[section].order + '、' + sections_order_by_order[section].chinese_name + '</span><br>'
                            tree_html += '<div class="tree2" id=' + '"' + sections_order_by_order[section].id + '"' + ' style="clear: both">'
                            for (part in sections_order_by_order[section].parts) {
                                tree_html += '<img src="http://47.110.253.251/evaluation-img/none.png" class="tree_img_none"/><span tree_body_id=' + '"' + sections_order_by_order[section].parts[part].section + '"' + ' class="tree_body">' + sections_order_by_order[section].parts[part]['chinese_name'] + '</span><br>'
                            }
                            tree_html += '</div>'
                        } else {
                            tree_html += '<img src="http://47.110.253.251/evaluation-img/none.png" class="tree_img_none" /><span tree_body_id=' + '"' + sections_order_by_order[section].id + '"' + ' class="tree_body">' + sections_order_by_order[section].order + '、' + sections_order_by_order[section].chinese_name + '</span><br>'
                        }
                    }
                    tree_html += '</div>'
                }
                // console.log(tree_html)
                $("#book-tree").html(tree_html);
                $(".book-li").html('当前课本：' + book_data.chinese_name)
            }
        });
    });
    //点击树的图片进行展开
    $(document).on('click', '.tree_img', function () {
        var d1 = $(this).attr("did")
        if (document.getElementById(d1).style.display == 'none') {
            document.getElementById(d1).style.display = 'block'; //触动的层如果处于隐藏状态，即显示
            $(this).attr('src', "http://47.110.253.251/evaluation-img/down.png")
        } else {
            document.getElementById(d1).style.display = 'none'; //触动的层如果处于显示状态，即隐藏
            $(this).attr('src', "http://47.110.253.251/evaluation-img/add.png")
        }
    });
    //鼠标悬于书名上方
    $('.containor').on('mouseenter', function () {
        $(".nav_right").removeClass('hide');
    }).on('mouseleave', function () {
        $(".nav_right").addClass('hide');
        $(".sub").addClass('hide');
    }).on('mouseenter', '.book-li', function (e) {
        $.get("http://47.110.253.251/abc/textbook/ajax-get-all-textbooks", function (data, status) {
            if (status == "success") {
                var book_html = ''
                var books = JSON.parse(data)
                for (book in books) {
                    book_html += '<a class="book-name" book_id=' + '"' + books[book]['id'] + '"' + ' subject=' + '"' + books[book]['subject'] + '"' +'>' + books[book]['name'] + '</a>'
                }
                $("#book").html(book_html)
                var li_data = $(this).attr('data-id');
                //2取不到
                li_data = '2'
                $(".sub").addClass('hide');
                $('.sub[data-id="' + li_data + '"]').removeClass('hide');
            }
        })
    });

    //选择题目的点击事件
    var checkQuestionFunction = function (questionId) {
        //判断是否已选
        var flag = false;
        for (var i = 0; i < checkQuestionList.length; i++) {
            if (checkQuestionList[i].id == questionId) {
                flag = true;
            }
        }
        if (flag) {
            alert("该题已选");
            return;
        }
        //加你过该题加入
        var questionBody = $("div[question-id=" + questionId + "] .question-body").html();
        var subject = nowSubject.split('、')[1];
        var item = {'body': questionBody, 'subject': subject, 'id': questionId,'score':0};
        checkQuestionList.push(item);
    };


    //展示选中题目
    $('.infoWin').on('click', function () {
        var html = '';
        for (var i in checkQuestionList) {
            html += '<tr>\n' +
                '<td>' + i + '</td>\n' +
                '<td>' + checkQuestionList[i].body + '</td>\n' +
                '<td>' + checkQuestionList[i].subject + '</td>\n' +
                '<td><input type="number" class="form-control score_input" disabled placeholder="'+ checkQuestionList[i].score +'"  onblur="inputValue('+checkQuestionList[i].id +',this)" ></td>\n' +
                '<td><a href="#" onclick="deleteCheckQuestion(' + checkQuestionList[i].id + ')">删除</a></td>\n' +
                '</tr>';
        }
        $(".tbodyHtml").html(html);
        // MathJax.Hub.Typeset();


        if(isScore){
            $(".score_input").each(function () {
                $(this).removeAttr('disabled');
            })
            $(this).html('选题篮');
        }
    });
    //删除题目
    var deleteCheckQuestion = function (questionId) {
        for (var i = 0; i < checkQuestionList.length; i++) {
            if (checkQuestionList[i].id == questionId) {
                checkQuestionList.splice(i, 1);
                var html = '';
                for (var i in checkQuestionList) {
                    html += '<tr>\n' +
                        '<td>' + i + '</td>\n' +
                        '<td>' + checkQuestionList[i].body + '</td>\n' +
                        '<td>' + checkQuestionList[i].subject + '</td>\n' +
                        '<td><input type="number" class="form-control score_input"  disabled  placeholder="'+ checkQuestionList[i].score +'"  onblur="inputValue('+ checkQuestionList[i].id +',this)"></td>\n' +
                        '<td><a href="#" onclick="deleteCheckQuestion(' + checkQuestionList[i].id + ')">删除</a></td>\n' +
                        '</tr>';
                }
                $(".tbodyHtml").html(html);

                // setTimeout(MathJax.Hub.Typeset(),3000);
                if(isScore){
                    $(".score_input").each(function () {
                        $(this).removeAttr('disabled');
                    })
                    $(this).html('关闭计分');
                }
                return;
            }
        }
        alert("删除失败");
    };
    //是否计分
    $('#marking-btn').on('click',function () {
        isScore = !isScore;
    })
    //注入计分
    var inputValue = function(questionId,that){
        var value = that.value;
        for(var i = 0; i < checkQuestionList.length; i++) {
            if(checkQuestionList[i].id == questionId){
                checkQuestionList[i].score = value;
            }
        }
    }
    //提交试卷
    $("#submit-quiz").on("click",function () {
        //获取卷子信息
        var body = {};
        for(var i in checkQuestionList){
            var arryBody = [];
            arryBody.push(checkQuestionList[i].id+"");
            arryBody.push(parseInt(checkQuestionList[i].score));
            body[parseInt(i) + 1] = arryBody;
        }
        //获取输入信息
        var title = $("#questionInput").val();
        var type = $("#questionSelect").val();

        var data = {
            info:JSON.stringify({"title":title}),
            body:JSON.stringify(body),
            generator_id:1,
            subject:subject,
            marking:isScore,
            public:false,
            quiz_type:type,
        };
        $.ajax({
            method: "POST",
            url: "http://47.110.253.251/abc/quiz/compose-quiz/",
            data: data,
            success:function (data,status) {
                if(data == 'OK'){
                    alert("提交成功")
                }else{
                    alert("提交失败");
                }
            }
        })
    })




</script>
<script type="text/javascript">
    $(document).ready(function () {


        var quiz_info = {'title': ''};
        var quiz_body = {};
        var quiz_subject = '';
        var total_score = 0;

        var quiz_marking = false;

        var nodes_arr = '';
        var subject = '';

        var order_counter = 0;

        $("#nodeSearchBar").focus(function () {
            $(this).next().css("display", "block");
        })


        $("#nodeSearchBar").blur(function () {
            var t = $(this);
            setTimeout(function () {
                t.next().css("display", "none");
            }, 750);

        })

        $("#subjectSearchBar").focus(function () {
            $(this).next().css("display", "block");
        })


        $("#subjectSearchBar").blur(function () {
            var t = $(this);
            setTimeout(function () {
                t.next().css("display", "none");
            }, 750);

        })


        //启用计分
        $("#marking-btn").click(function () {
            if (quiz_marking) {
                quiz_marking = false;
                $(".score_input").each(function () {
                    $(this).attr('disabled', 'disabled');
                })
                $(this).html('启用计分');
            } else {
                quiz_marking = true;
                $(".score_input").each(function () {
                    $(this).removeAttr('disabled');
                })
                $(this).html('关闭计分');

            }
        })

        //搜索框
        $(".node_table").on("click", ".node_item", function () {
            // console.log($(this).parent().parent().attr('id'));
            $(this).parent().parent().parent().prev().val($(this).find('td').html());


            var parent_id = $(this).parent().parent().attr('id');
            //subjects
            if (parent_id == "subject_table") {
                subject = $(this).attr("id");
                // console.log(subject);
            }
            //knowledge node
            else {
                nodes_arr = $(this).attr("id");
            }

        })


        var old_val = "";

        $(".score_input").on("change", function () {


            total_score = 0;

            $(".score_input").each(function () {
                if ($(this).val() == '') {
                    $(this).val(0);
                } else if ($(this).val() < 0) {
                    $(this).val(0);
                }

                total_score += parseInt($(this).val());
            })
            $("#total_score").html(total_score);

        })

        $(".score_input").on("click", function () {
            $(this).val('');
        })

        $("#nodeSearchBar").on("change input", function () {
            var node_input = $(this);
            var val = $(this).val();

            if (val == old_val)
                return;

            setTimeout(function () {
                if (node_input.val() == val) {
                    old_val = val;

                    $.ajax({
                        method: "GET",
                        url: "{% url "ajax-nodes" %}",
                        data: {text: old_val}
                    })
                        .done(function (msg) {
                            var l = JSON.parse(msg);
                            s = "";
                            //console.log(l);
                            for (i in l) {
                                var s = s + '<tr class="node_item" id="' + l[i][0] + '"><td>' + l[i][1] + '</td></tr>';
                            }

                            node_input.next().find("tbody").html(s);

                        });


                }

            }, 750);
        })

        $("#subjectSearchBar").on("click", function () {
            var t = $(this).next();

            setTimeout(function () {

                $.ajax({
                    method: "GET",
                    url: "{% url "ajax-subjects" %}",

                })
                    .done(function (msg) {
                        var l = JSON.parse(msg);
                        s = "";
                        //console.log(l);
                        for (i in l) {
                            var s = s + '<tr class="node_item" id="' + l[i][0] + '"><td>' + l[i][1] + '</td></tr>';
                        }

                        //console.log($(this).next().find("tbody").html());
                        t.find("tbody").html(s);

                    });


            }, 750);
        })

//regex settings
        String.prototype.format = function () {
            if (arguments.length == 0) return this;
            var param = arguments[0];
            var s = this;
            if (typeof (param) == 'object') {
                for (var key in param)
                    s = s.replace(new RegExp("\\{" + key + "\\}", "g"), param[key]);
                return s;
            } else {
                for (var i = 0; i < arguments.length; i++)
                    s = s.replace(new RegExp("\\{" + i + "\\}", "g"), arguments[i]);
                return s;
            }
        }

        function append_question(dic) {


            s = '<div class="col-lg-6">\
            <div class="card mb-4">\
              <div class="card-header">\
                        <button class="btn btn-primary select-btn" type="button">选择题目</button>  {question_id}\
                        <a href="/abc/quiz/upload-question/?question_id={question_id}" id="edit-{question_id}" type="button">编辑题目</a>  \
              </div>\
                <div class="card-body">\
                  <p class="question-body">（单选题）{question_body}</p>\
                  <p>A. {optionA} </p>\
                  <p>B. {optionB}</p>\
                  <p>C. {optionC}</p>\
                  <p>D. {optionD}</p>\
                  <p>{analysis}</p>\
                </div>'


            if (dic['img_url']) {
                s += 'image: <img src="' + dic['img_url'] + '" style="width: 150px; height: 150px;">';
            }
            if (dic['optionAimg']) {
                s += 'option A image: <img src="' + dic['optionAimg'] + '" style="width: 150px; height: 150px;">';
            }
            if (dic['optionBimg']) {
                s += 'option B image: <img src="' + dic['optionBimg'] + '" style="width: 150px; height: 150px;">';
            }
            if (dic['optionCimg']) {
                s += 'option C image: <img src="' + dic['optionCimg'] + '" style="width: 150px; height: 150px;">';
            }
            if (dic['optionDimg']) {
                s += 'option D image: <img src="' + dic['optionDimg'] + '" style="width: 150px; height: 150px;">';
            }

            s += '</div></div>';
            $("#question-container").append(s.format(dic));

            MathJax.Hub.Typeset();
        }


        var questions_tbody = $("#selected_questions").find("tbody");


        function append_selected_question(dic) {
            var tr_id = 'question_' + order_counter;
            s = '<tr id={tr_id}>\
                  <td>{order}</td>\
                  <td>{body}</td>\
                  <td>{nodes}</td>\
                  <td><input type="number" class="form-control score_input" placeholder="分值" disabled></td>\
                  <td><a href="#">删除</a></td>\
                </tr>';
            d = {};
            d['tr_id'] = tr_id;
            d['order'] = order_counter;

            questions_tbody.append(s.format)

        }


        //搜索自己的题目
        $("#search-own-btn").click(function () {
            $.ajax({
                method: "GET",
                url: "{% url "ajax-get-own-questions" %}",
                data: {node_id: nodes_arr}
            })
                .done(function (msg) {
                    var l = JSON.parse(msg);
                    s = "";
                    var counter = 0;

                    // console.log(l);
                    $('#question-container').html('');
                    //for(question_id in l){
                    for (i = 0; i < l.length; i++) {
                        question_dic = l[i]
                        question_id = question_dic[0]

                        question = question_dic[1];

                        dic = {};
                        dic['question_id'] = question_id;
                        dic['question_body'] = question['body'];

                        if (question['analysis'])
                            dic['analysis'] = question['analysis'];
                        else
                            dic['analysis'] = "无解析";

                        if (question['img_url']) {
                            dic['img_url'] = question['img_url']
                        }
                        for (key in question['options']) {
                            dic['option' + key] = question['options'][key]['body'];
                            if (question['options'][key]['img_url']) {
                                dic['option' + key + 'img'] = question['options'][key]['img_url'];
                            }
                        }
                        dic['nodes'] = nodes_arr;
                        append_question(dic);
                        counter++;
                    }

                    $("#question_counter").find("span").html(counter);
                    $("#question_counter").css("display", "block");
                });

        })

        //搜索题目
        $("#search-btn").click(function () {
            $.ajax({
                method: "GET",
                url: "{% url "ajax-get-questions" %}",
                data: {node_id: nodes_arr, subject: subject}
            })
                .done(function (msg) {
                    // console.log(msg);
                    var l = JSON.parse(msg);
                    s = "";
                    //console.log(l);

                    // console.log(l);
                    $('#question-container').html('');
                    for (question_id in l) {
                        question = l[question_id];

                        dic = {};
                        dic['question_id'] = question['question_id'];
                        dic['question_body'] = question['body'];

                        if (question['analysis'])
                            dic['analysis'] = question['analysis'];
                        else
                            dic['analysis'] = "无解析";
                        if (question['img_url']) {
                            dic['img_url'] = question['img_url']
                        }
                        for (key in question['options']) {
                            dic['option' + key] = question['options'][key]['body'];
                        }
                        dic['nodes'] = nodes_arr;
                        append_question(dic);
                    }
                });

        })


    })


</script>
{% endblock %}
