{% extends 'teacher/teacher_base.html'%}
{% load staticfiles %}
{% block "stylesheets" %}
  <link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
<style type="text/css">
    a {
        font-size: 15px;
        text-decoration: none;
    }

    a:hover {
        font-size: 17px;
        color: #999999;
    }

    .tree2 {
        padding-left: 20px;
        display: none;
    }

    .tree_img {
        width: 15px;
    }

    .tree_body {
        cursor: pointer;
        padding-left: 20px;
    }
    .tree_body_chapter {
        cursor: pointer;
        padding-left: 20px;
    }
  .demo{margin:80px auto 40px auto;width:320px}
  .input{padding:6px;border:1px solid #d3d3d3}
  ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
  }

  .containor {
      width: 1000px;
      height: auto;
      position: relative;
      margin: 0 auto;

  }

  .nav_left ul {
      width: 100%;
      height: auto;
  }

  .nav_left ul li {
      height: 50px;
      line-height: 50px;
      text-align: left;
  }

  .nav_left ul li span {
      padding-left: 10px;
      height: 50px;
      line-height: 50px;
      display: block;
  }

  .nav_right {
      width: 800px;
      height: 500px;
      position: absolute;
      margin-left: 200px;
      top: 0px;
  }

  .sub {
      position: relative;
      overflow: auto;
      width: 400px;
      height: 600px;
      background: #FFFFFF;
      padding: 10px 10px;
      z-Index: 10;
  }


  .sub dl {
      overflow: hidden;
      padding: 0px 0px 10px 0px;
  }

  .sub dt {
      width: 100px;
      float: left;
      display: block;
      position: relative;
      clear: left;
  }

  .sub dt a {
      font-size: 14px;
      color: #000;
      font-weight: bold;
      text-align: center;
      padding-left: 20px;
      text-decoration: none;
      cursor: pointer;
  }

  .sub dt i {
      width: 4px;
      right: 12px;
      top: 2px;
      font-size: 14px;
      position: absolute;
      font-style: normal;
  }

  .sub dd {
      padding-left: 10px;
      width: 400px;
      float: left;
      display: block;
      position: relative;
      overflow: hidden;
      padding-right: 20px;
      border-bottom: 1px dashed #E3E3E3;
  }

  .sub dd a {
      font-size: 12px;
      float: left;
      color: #666;
      padding: 0 10px;
      margin: 4px 0px 10px 0px;
      text-decoration: none;
      cursor: pointer;
      border-left: 1px solid #E3E3E3;
  }


  .hide {
      display: none;
  }



</style>

{% endblock %}

{% block "main_content" %}

<!-- Begin Page Content -->

<!-- Page Heading -->


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">题库</h1>
</div>
<!-- Earnings (Monthly) Card Example -->


    <div class="card mb-4 containor" id='bookTreeBox' style="width: 25%;float: left">
        <div class="card-body ">
            <!--课本名称-->
            <div class="nav_left">
                <ul>
                    <li class="book-li" data-id="2">当前课本：无</li>
                </ul>
                <hr style="height: 5px"/>
            </div>
            <div class="nav_right">
                <div class="sub hide overY" data-id="2" id = "bookDiv">

                </div>
            </div>
            <!--  章节树-->
            <div id="book-tree">
                <div style="text-align: center">未选择教材！</div>
            </div>
        </div>
    </div>





<div style="float: right;width: 70%">
    <div class="col-xl-6 col-md-6 mb-4">
        <input id="meeting"  class="form-control bg-light"  placeholder="日期" aria-label="Search" aria-describedby="basic-addon2" type="date" value="2019-01-13"/>
        <br>
        <input type="text" id="subjectSearchBar" class="form-control bg-light" placeholder="请选择学科" aria-label="Search" aria-describedby="basic-addon2">
        <div class="hint" id="subject_hint" style="border:1px solid black; display:none; z-index:1000; position:absolute; background:white; width:100%;">
          <table id="subject_table" style="width:100%;">
            <tbody class="node_table" style="width:100%;">
              <tr class="node_item" style="width:100%;"><td></td></tr>
            </tbody>
          </table>
        </div>
        <br>
        <input type="text" id="nodeSearchBar" class="form-control bg-light" placeholder="请选择知识点" aria-label="Search" aria-describedby="basic-addon2">
        <div class="hint" id="hint1" style="border:1px solid black; display:none; z-index:1000; position:absolute; background:white; width:100%;">
          <table id="table1" style="width:100%;">
            <tbody class="node_table" style="width:100%;">
              <tr class="node_item" style="width:100%;"><td></td></tr>
            </tbody>
          </table>
        </div>
      <br>
      <div>
        <input type="text" id="questionIdSearchBar" class="form-control bg-light border-1 small" placeholder="题目编号" aria-label="Search" aria-describedby="basic-addon2"><br>
       <form id="form1" >
        <input type="radio"  name="node" checked  value="true" />全部题目
        <input type="radio"  name="node" value="false" />未添加知识点题目
       </form>
      <br/>
      <br/>
       <div class="input-group-append">
          <button class="btn btn-primary" id="search-btn" type="button">
            <i class="fas fa-search fa-sm">搜索题目</i>
          </button>
          <button class="btn btn-primary" id="search-own-btn" type="button" style="margin-left: 20px;">
            <i class="fas fa-search fa-sm" >搜索个人题目</i>
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <h2 id="question_counter" style="display:none;">共 <span></span> 道题</h2>
        </div>
      </div>
      <!-- Earnings (Monthly) Card Example -->
    </div>


      <hr>

    <div class="card mb-4" style="width: 100%">
      <div class="card-body">
        <h6>试题列表:<span style="cursor: pointer"></span></h6>
        <hr style="height: 5px"/>
        <div class="row" id="question-container">
          <div style="text-align: center;width: 100%">暂无试题！</div>
        </div>
        <div style="text-align: center" id="personQuestionList">
            <span style="padding: 10px;cursor: pointer" id="down_page">上一页</span>|<span style="padding-left: 10px" id="page">1</span>/<span style="padding-right:10px" id="maxpage">1</span>|<span style="padding: 10px;cursor: pointer" id="up_page">下一页</span><input style="width:30px" id="pageInput" /><a  id="jump-page" style="padding: 10px;cursor: pointer" type="button">跳转</a>
        </div>
      </div>
    </div>
</div>



      <!-- /.container-fluid -->
      {% endblock %}

      {% block "scripts" %}
      <script type="text/javascript" async
  src="https://cdn.bootcss.com/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
  MathJax.Ajax.config.path["mhchem"] =
  "https://cdnjs.cloudflare.com/ajax/libs/mathjax-mhchem/3.3.2";
MathJax.Hub.Config({
  TeX: {
    extensions: ["[mhchem]/mhchem.js"]
  }
});
</script>
<script type="text/javascript">
    //默认页数
    var page = 1;
    //默认最大页数
    var maxpage = 1;
    //选择录题时间
    var dataTime = '';
    //选择科目
    var subject = '';
    //选择知识点
    var knowledge = '';
    //输入题目id
    var questionId = '';
    //是否关联知识点
    var node = '';
    //全部科目数据
    var subjectTree = '';
    //选择教材树的科目
    var clickTreeSubject = '';
    //选择章
    var chapter = '';
    //选择节
    var section = '';
    //是否是个人题库查询
    var own = '';

  //获取输入参数
  $(".node_table").on("click", ".node_item", function(){
    $(this).parent().parent().parent().prev().val($(this).find('td').html());
    var parent_id = $(this).parent().parent().attr('id');
    //subjects
    if(parent_id == "subject_table"){
        subject = $(this).attr("id");
        chapter = '';
        section = '';
        $(".book-li").html('当前课本：无');
        $("#book-tree").html('<div style="text-align: center">未选择教材！</div>');

    }
    //knowledge node
    else{
      knowledge = $(this).attr("id");
    }
  });
    //选中章
    $(document).on("click",".tree_body_chapter",function () {
        chapter = $(this).attr('tree_body_id');
        section = "";
        subject = '';
        $("#subjectSearchBar").val("请选择学科");
        $('.tree_body').css('color','');
        $('.tree_body_chapter').css('color','');
        $('span[tree_body_id="'+chapter+'"]').css('color','#27BFEE');
    });
    //选中节
    $(document).on('click', '.tree_body', function () {
        section = $(this).attr('tree_body_id');
        chapter = "";
        subject = '';
        $("#subjectSearchBar").val("请选择学科");
        //修改选中的字体样式颜色
        $('.tree_body').css('color','');
        $('.tree_body_chapter').css('color','');
        $('span[tree_body_id="'+section+'"]').css('color','#27BFEE');

    });





    //题目的获取方法
  var getQuestionFunction = function (p) {
      page = parseInt(p);
      $.get('{% url "ajax-get-questions" %}?date=' + dataTime +"&chapter_id="+chapter+"&section_id="+section+"&node="+node+"&subject="+ subject + "&node_id="+ knowledge + "&questionId="+ questionId +"&own="+own+ "&page=" + page,function (data,status) {
          if (data) {
              var questions = JSON.parse(data);
              var question_body_html = '';
              for (var question_id in questions) {
                  question_body_html += '<div class="col-lg-12">'
                      + '<div class="card mb-4" question-id="' + question_id + '">'
                      + '<div class="card-header">'
                      //+ '<button class="btn btn-primary select-btn" type="button" onclick="checkQuestionFunction(' + question_id + ')">选择题目</button> ' + question_id
                      + '<a href="/abc/quiz/upload-question/?question_id=' + question_id + '"' + 'id="edit-' + question_id + '"' + ' type="button">编辑题目</a>'
                      + '<a  class="detele_que" question_id="'+question_id+'" type="button">删除题目</a>'
                      + '</div>'
                  question_body_html += '<div class="card-body">'
                      + '<p class="question-body">（单选题）' + questions[question_id]['body'] + '}</p>'
                      + '<div style="float:left;padding-right:50px;padding-left:50p">'
                  if(questions[question_id]['options']['A']){
                      question_body_html += '<p>A、' + questions[question_id]['options']['A']['body'] + ' </p>'
                          + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
                  }
                  if(questions[question_id]['options']['B']){
                      question_body_html += '<p>B、' + questions[question_id]['options']['B']['body'] + ' </p>'
                          + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
                  }
                  if(questions[question_id]['options']['C']){
                      question_body_html += '<p>C、' + questions[question_id]['options']['C']['body'] + ' </p>'
                          + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
                  }
                  if(questions[question_id]['options']['D']){
                      question_body_html += '<p>D、' + questions[question_id]['options']['D']['body'] + ' </p>'
                          + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
                  }
                  question_body_html += '</div>'
                      + '</div></div></div>'
              }
              $("#question-container").html(question_body_html);
              MathJax.Hub.Typeset();
              $("#page").html(page);
          }
      })
  };
  //获取当前查询的总页数
    //获取章的页数
    var findPageByChapter = function(){
        $.get("{% url 'ajax-get-page-count-questions' %}?date=" + dataTime +"&chapter_id="+chapter+"&section_id="+section+"&node="+node+"&subject="+ subject +"&node_id="+ knowledge + "&questionId="+ questionId +"&own="+own, function (data, status) {
            if (status == "success") {
                maxpage = parseInt(data);
                $("#maxpage").html(maxpage);
            }
        });
    };


    //获取全部题目
    $(document).on('click', '#search-btn', function(){
        //获取参数
        questionId = $("#questionIdSearchBar").val();
        dataTime = $('#meeting').val();
        node = $('input:radio[name="node"]:checked').val();
        own = false;
        if(chapter || section || subject || questionId ){
            getQuestionFunction(1);
            findPageByChapter();
        }else{
            alert("请先选择科目或章节");
        }
    });
    //获取个人题目
    $(document).on('click', '#search-own-btn', function(){
        //获取参数
        questionId = $("#questionIdSearchBar").val();
        dataTime = $('#meeting').val();
        node = $('input:radio[name="node"]:checked').val();
        own = true;
        if(chapter || section || subject || questionId ){
            getQuestionFunction(1);
            findPageByChapter();
        }else{
            alert("请先选择科目或章节");
        }

    });
    //跳页
    $(document).on('click','#jump-page',function(){
        var jumpPage = $("#pageInput").val();
        getQuestionFunction(jumpPage);
    });
    //上一页
    $('#down_page').click(function () {
        if (page > 1) {
            page = page - 1
        }else{
            alert("已到首页")
            return
        }
        getQuestionFunction(page);
        $(location).attr('href', "#top");
    });
    //下一页
    $('#up_page').click(function () {
        // console.log('下一页')
        if (page < maxpage) {
            page = page + 1
        }else{
            alert("已到尾页");
            return
        }
        getQuestionFunction(page);
        $(location).attr('href', "#top");
    });



  //点击书名查询书的结构形成树
  $(document).on('click', '.book-name', function () {
      var book_id = $(this).attr("book_id")
      clickTreeSubject=$(this).attr("subject");
      var hisTableWid = document.getElementById("bookTreeBox").clientWidth;
      hisTableWid = hisTableWid -50;
      $.get("{% url 'ajax-get-textbook-structure' %}?book_id=" + book_id, function (data, status) {
          if (status == "success") {
              var book_data = JSON.parse(data);
              // console.log(book_data)
              var tree_html = ''
              //对章进行排序
              var chapters_order_by_order = book_data.chapters.sort(
                  function (a, b) {
                      if (typeof a.order == "undefined" || a.order == null || a.order == "") return 1;
                      if (typeof b.order == "undefined" || b.order == null || b.order == "") return -1;
                      var aText = (a.order.split("章")[0]).substring(1);
                      var bText = (b.order.split("章")[0]).substring(1);
                      if (typeof aText == "undefined" || aText == null || aText == "") return 1;
                      if (typeof bText == "undefined" || bText == null || bText == "") return -1;
                      return parseFloat(aText) - parseFloat(bText);
                  }
              );
              for (var chapter in chapters_order_by_order) {
                  // console.info(chapters_order_by_order[chapter])
                  tree_html += '<div style="clear: both;overflow：hidden;">'
                      + '<span  tree_book_sign="treeBookSection"   tree_body_id=' + '"' + chapters_order_by_order[chapter].id + '"' + ' class="tree_body_chapter" style="white-space: nowrap; display: inline-block;width: '+hisTableWid+'px;overflow: hidden;text-overflow: ellipsis"><img src="{% static "assets/img/add.png" %}"  class="tree_img" did=' + '"' + chapters_order_by_order[chapter].id + '"' + '/>&nbsp;&nbsp;'+ chapters_order_by_order[chapter].order + '、' + chapters_order_by_order[chapter].chinese_name + '</span>'
                      + '</div>'
                      + '<div class="tree2" id=' + '"' + chapters_order_by_order[chapter].id + '"' + ' style="clear: both;overflow：hidden;">'
                  //对节进行排序
                  var sections_order_by_order = chapters_order_by_order[chapter].sections.sort(
                      function (a, b) {

                          if (typeof a.order == "undefined" || a.order == null || a.order == "") return -1;
                          if (typeof b.order == "undefined" || b.order == null || b.order == "") return 1;
                          var aText = a.order.split("、")[0];
                          var bText = b.order.split("、")[0];
                          if (typeof aText == "undefined" || aText == null || aText == "") return -1;
                          if (typeof bText == "undefined" || bText == null || bText == "") return 1;
                          return parseFloat(aText) - parseFloat(bText);
                      }
                  );
                  for (var section in sections_order_by_order) {

                      if (sections_order_by_order[section].parts.length > 0) {
                          tree_html +='<span tree_book_sign="treeBookSign" tree_body_id=' + '"' + sections_order_by_order[section].id + '"' + ' class="tree_body" style="white-space: nowrap; display: inline-block;width: '+hisTableWid+'px;overflow: hidden;text-overflow: ellipsis;">'+ '<img src="{% static "assets/img/none.png" %}" class="tree_img" did=' + '"' + sections_order_by_order[section].id + '"' + '/>&nbsp;&nbsp;' + sections_order_by_order[section].order + '、' + sections_order_by_order[section].chinese_name + '</span><br>'
                      } else {
                          tree_html += '<span tree_book_sign="treeBookSign" tree_body_id=' + '"' + sections_order_by_order[section].id + '"' + ' class="tree_body" style="white-space: nowrap; display: inline-block;width: '+hisTableWid+'px;overflow: hidden;text-overflow: ellipsis;"><img src="{% static "assets/img/none.png" %}" class="tree_img_none"  />&nbsp;&nbsp;' + sections_order_by_order[section].order + '、' + sections_order_by_order[section].chinese_name + '</span><br>'
                      }
                  }
                  tree_html += '</div>'
              }
              // console.log(tree_html)
              $("#book-tree").html(tree_html);
              $(".book-li").html('当前课本：' +subjectTree[book_data.subject] + book_data.chinese_name)

              $('#bookTreeBox').css('font-size',15)

          }
      });
  });
  //页面大小改变事件
  $(window).resize(function(){
      var divWidth = document.getElementById("bookTreeBox").clientWidth;
      $('span[tree_book_sign="treeBookSign"]').width(divWidth - 60);
      $('span[tree_book_sign="treeBookSection"]').width(divWidth - 45);

  });
  //点击树的图片进行展开
  $(document).on('click', '.tree_img', function () {
      var d1 = $(this).attr("did")
      if (document.getElementById(d1).style.display == 'none') {
          document.getElementById(d1).style.display = 'block'; //触动的层如果处于隐藏状态，即显示
          $(this).attr('src', "{% static 'assets/img/down.png' %}")
      } else {
          document.getElementById(d1).style.display = 'none'; //触动的层如果处于显示状态，即隐藏
          $(this).attr('src', "{% static 'assets/img/add.png'' %}")
      }
      $(".nav_right").addClass('hide');
      $(".sub").addClass('hide');
  });
  //鼠标悬于书名上方
  $('.containor').on('mouseenter', function () {
      $(".nav_right").removeClass('hide');
  }).on('mouseleave', function () {
      $(".nav_right").addClass('hide');
      $(".sub").addClass('hide');
  }).on('mouseenter', '.book-li', function (e) {
      $.get("{% url 'ajax-get-all-textbooks' %}", function (data, status) {
          if (status == "success") {
              $.get("{% url 'ajax-subjects' %}", function (data1, status) {
                  if (status == "success") {
                      var subject = JSON.parse(data1);
                      var subjects={}
                      for (index in subject){
                          subjects[subject[index][0]]=subject[index][1]
                      }
                      var books = JSON.parse(data)
                      // console.info(books)
                      var booksOnSubjectList = {}
                      for(var item in books){
                          if(!booksOnSubjectList[books[item].subject]){
                              booksOnSubjectList[books[item].subject] = [];
                          }
                          booksOnSubjectList[books[item].subject].push(books[item]);
                      }

                      for(var key in booksOnSubjectList){
                          booksOnSubjectList[key] = booksOnSubjectList[key].sort(function (last,next) {
                              return last.order - next.order
                          })
                      }
                      // console.info(booksOnSubjectList)
                      //暂时不显示化学教材
                      delete(booksOnSubjectList[8])

                      var htmlString = "";
                      for(var key in booksOnSubjectList){
                          htmlString += '<dl>\n' +
                              ' <dt><a>'+subjects[key]+ '<i> &gt;</i></a></dt>\n' +
                              ' <dd id="book">\n'
                          for(var index in booksOnSubjectList[key] ){
                              htmlString +=  '<a class="book-name" book_id=' + '"' + booksOnSubjectList[key][index]["id"] + '"' + ' subject=' + '"' + booksOnSubjectList[key][index]['subject'] + '"' +'>' + booksOnSubjectList[key][index]['name'] + '</a>'
                          }
                          htmlString += "</dd></dl>"
                      }


                      subjectTree = subjects
                      $("#bookDiv").html(htmlString)
                      var li_data = $(this).attr('data-id');
                      //2取不到
                      li_data = '2';
                      $(".sub").addClass('hide');
                      $('.sub[data-id="' + li_data + '"]').removeClass('hide');
                  }
              })
          }
      })
  });




</script>


<script type="text/javascript" src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
          var page = 1;
          var total_score = 0;
          var nodes_arr = '';
          var subject = '';
          var questionId = '';
          var dataTime = '';
          var node = '';
          $(document).on('click', '.detele_que', function () {
              var question_id=$(this).attr("question_id")
              $.get("{% url 'ajax_delete_question' %}?question_id=" + question_id, function (data, status) {
                  if (status == "OK") {
                      alert("删除成功！")
                  }else{
                      alert("删除失败！")
                  }
              })
          });
			
          $("#nodeSearchBar").focus(function(){
            $(this).next().css("display", "block");
          });
          $("#nodeSearchBar").blur(function(){
            var t = $(this);
            setTimeout(function(){
              t.next().css("display", "none");
            }, 750);
          });
          $("#subjectSearchBar").focus(function(){
            $(this).next().css("display", "block");
          });
          $("#subjectSearchBar").blur(function(){
            var t = $(this);
            setTimeout(function(){
              t.next().css("display", "none");
            }, 750);
          });


          var old_val = "";


          $("#nodeSearchBar").on("change input",function(){
            var node_input = $(this);
            var val = $(this).val();
            if(val == old_val)
              return;
            setTimeout(function(){
              if(node_input.val() == val)
              {
                old_val = val;
                $.ajax({
                  method: "GET",
                  url: "{% url 'ajax-nodes' %}",
                  data: { text: old_val }
                })
                .done(function( msg ) {
                  var l = JSON.parse(msg);
                  s = "";
                  for(i in l){
                    var s = s + '<tr class="node_item" id="'+ l[i][0] +  '"><td>' + l[i][1] +  '</td></tr>';
                  }
                  node_input.next().find("tbody").html(s);
                });
              }
            }, 750);
          });

          $("#subjectSearchBar").on("click",function(){
                var t = $(this).next();
            setTimeout(function(){
                $.ajax({
                  method: "GET",
                  url: "{% url 'ajax-subjects' %}",
                })
                .done(function( msg ) {
                  var l = JSON.parse(msg);
                  s = "";
                  for(i in l){
                    var s = s + '<tr class="node_item" id="'+ l[i][0] +  '"><td>' + l[i][1] +  '</td></tr>';
                  }
                  t.find("tbody").html(s);
                });
            }, 750);
          });

        //regex settings
        String.prototype.format = function() {
         if(arguments.length == 0) return this;
         var param = arguments[0];
         var s = this;
         if(typeof(param) == 'object') {
          for(var key in param)
           s = s.replace(new RegExp("\\{" + key + "\\}", "g"), param[key]);
          return s;
         } else {
          for(var i = 0; i < arguments.length; i++)
           s = s.replace(new RegExp("\\{" + i + "\\}", "g"), arguments[i]);
          return s;
         }
        };
        })



      </script>
      {% endblock %}
