{% extends 'teacher/teacher_base.html'%}
{% load staticfiles %}
{% block "stylesheets" %}
  <link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
<style type="text/css">
  .demo{margin:80px auto 40px auto;width:320px}
  .input{padding:6px;border:1px solid #d3d3d3}
</style>

{% endblock %}

{% block "main_content" %}

<!-- Begin Page Content -->

<!-- Page Heading -->


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">题库</h1>
</div>
<!-- Earnings (Monthly) Card Example -->
<div class="col-xl-6 col-md-6 mb-4">
<!-- <form>{{form}}</form> -->

    <!--<input type="text"  id="dataTimeSearchBar" class="form-control bg-light"  placeholder="日期" aria-label="Search" aria-describedby="basic-addon2" />-->
    <input id="meeting"  class="form-control bg-light"  placeholder="日期" aria-label="Search" aria-describedby="basic-addon2" type="date" value="2019-01-13"/>
    <br>

    <input type="text" id="subjectSearchBar" class="form-control bg-light" placeholder="学科" aria-label="Search" aria-describedby="basic-addon2">
    
    <div class="hint" id="subject_hint" style="border:1px solid black; display:none; z-index:1000; position:absolute; background:white; width:100%;">
      <table id="subject_table" style="width:100%;">
        <tbody class="node_table" style="width:100%;">
          <tr class="node_item" style="width:100%;"><td></td></tr>
        </tbody>
      </table>
    </div>

<br>    <input type="text" id="nodeSearchBar" class="form-control bg-light" placeholder="知识点" aria-label="Search" aria-describedby="basic-addon2">
    <div class="hint" id="hint1" style="border:1px solid black; display:none; z-index:1000; position:absolute; background:white; width:100%;">
      <table id="table1" style="width:100%;">
        <tbody class="node_table" style="width:100%;">
          <tr class="node_item" style="width:100%;"><td></td></tr>

        </tbody>
      </table>
    </div>
  <br>

  <div>
    <input type="text" id="questionIdSearchBar" class="form-control bg-light border-1 small" placeholder="题目编号" aria-label="Search" aria-describedby="basic-addon2"><br>
   <form id="form1" >
    <input type="radio"  name="node" checked  value="true" />全部题目
    <input type="radio"  name="node" value="false" />未添加知识点题目
   </form>
  <br/>
  <br/>
   
   <div class="input-group-append">
      <button class="btn btn-primary" id="search-btn" type="button">
        <i class="fas fa-search fa-sm">搜索题目</i>
      </button>

      <button class="btn btn-primary" id="search-own-btn" type="button" style="margin-left: 20px;">
        <i class="fas fa-search fa-sm" >搜索个人题目</i>
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp; 
      <h2 id="question_counter" style="display:none;">共 <span></span> 道题</h2>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->



</div>
      <hr>

<div class="card mb-4" style="width: 100%">
  <div class="card-body">
    <h6>试题列表:<span style="cursor: pointer"></span></h6>
    <hr style="height: 5px"/>
    <div class="row" id="question-container">
      <div style="text-align: center;width: 100%">暂无试题！</div>
    </div>
    <div style="text-align: center" id="personQuestionList">

    </div>
  </div>
</div>



      <!-- /.container-fluid -->
      {% endblock %}

      {% block "scripts" %}
      <script type="text/javascript" async
  src="https://cdn.bootcss.com/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
  MathJax.Ajax.config.path["mhchem"] =
  "https://cdnjs.cloudflare.com/ajax/libs/mathjax-mhchem/3.3.2";
MathJax.Hub.Config({
  TeX: {
    extensions: ["[mhchem]/mhchem.js"]
  }
});
</script>
<script type="text/javascript">
  var page = 1;
  var dataTime = '';
  var subject = '';
  var knowledge = '';
  var questionId = '';
  var node = '';

  //获取输入参数
  $(".node_table").on("click", ".node_item", function(){
    $(this).parent().parent().parent().prev().val($(this).find('td').html());
    var parent_id = $(this).parent().parent().attr('id');
    //subjects
    if(parent_id == "subject_table")
    {
      subject = $(this).attr("id");
    }
    //knowledge node
    else{
      knowledge = $(this).attr("id");
    }
  });

  //进行查询题目
//  $(document).on('click', '#search-own-btn', function () {
    var clickQuestionFunction = function(p){
    htmlString = '<span style="padding: 10px;cursor: pointer" id="down_page">上一页</span>|<span style="padding: 10px" id="page">'+p+'</span>|<span style="padding: 10px;cursor: pointer" id="up_page">下一页</span><input style="width:30px" id="pageInput" value="'+p+'"/> <a  id="jump-page" style="padding: 10px;cursor: pointer" type="button">跳转</a>'
      $("#personQuestionList").html(htmlString);
    questionId = $("#questionIdSearchBar").val();
    dataTime = $('#meeting').val();
    node = $('input:radio[name="node"]:checked').val();
    page = parseInt(p)

    $.get("{% url "ajax-get-own-question-by-id" %}?date=" + dataTime +"&node="+node+"&subject="+ subject + "&node_id="+ knowledge + "&questionId="+ questionId + "&page=" + page, function (data, status) {
      if (status == "success") {
        var questions = JSON.parse(data);
        var question_body_html = ''
        for (question_id in questions) {
          question_body_html += '<div class="col-lg-12">'
                  + '<div class="card mb-4" question-id="' + question_id + '">'
                  + '<div class="card-header">'
                  + '<button class="btn btn-primary select-btn" type="button" onclick="checkQuestionFunction(' + question_id + ')">选择题目</button> ' + question_id
                  + '<a href="/abc/quiz/upload-question/?question_id=' + question_id + '"' + 'id="edit-' + question_id + '"' + ' type="button">编辑题目</a>'
                  + '<a  class="detele_que" question_id="'+question_id+'" type="button">删除题目</a>'
                  + '</div>'
            question_body_html += '<div class="card-body">'
                + '<p class="question-body">（单选题）' + questions[question_id]['body'] + '}</p>'
                + '<div style="float:left;padding-right:50px;padding-left:50p">'
            if(questions[question_id]['options']['A']){
                question_body_html += '<p>A、' + questions[question_id]['options']['A']['body'] + ' </p>'
                    + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
            }
            if(questions[question_id]['options']['B']){
                question_body_html += '<p>B、' + questions[question_id]['options']['B']['body'] + ' </p>'
                    + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
            }
            if(questions[question_id]['options']['C']){
                question_body_html += '<p>C、' + questions[question_id]['options']['C']['body'] + ' </p>'
                    + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
            }
            if(questions[question_id]['options']['D']){
                question_body_html += '<p>D、' + questions[question_id]['options']['D']['body'] + ' </p>'
                    + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
            }
            question_body_html += '</div>'
                + '</div></div></div>'
        }
        $("#question-container").html(question_body_html);
        MathJax.Hub.Typeset();
      }
    });
  };
    
    $(document).on('click', '#search-own-btn', function(){
        clickQuestionFunction(1); 
    });
    $(document).on('click','#jump-page',function(){
        var jumpPage = $("#pageInput").val();
        clickQuestionFunction(jumpPage);
    })


  //点击上一页
  $(document).on('click', '#down_page', function () {
    if (page > 1) {
      page = page - 1
    }
    $.get("{% url "ajax-get-own-question-by-id" %}?date=" + dataTime +"&node="+node+ "&subject="+ subject + "&node_id="+ knowledge + "&questionId="+ questionId + "&page=" + page, function (data, status) {
      if (status == "success") {
        var questions = JSON.parse(data);
        var question_body_html = ''
        for (question_id in questions) {
          question_body_html += '<div class="col-lg-12">'
                  + '<div class="card mb-4" question-id="' + question_id + '">'
                  + '<div class="card-header">'
                  + '<button class="btn btn-primary select-btn" type="button" onclick="checkQuestionFunction(' + question_id + ')">选择题目</button> ' + question_id
                  + '<a href="/abc/quiz/upload-question/?question_id=' + question_id + '"' + 'id="edit-' + question_id + '"' + ' type="button">编辑题目</a>'
                  + '<a  class="detele_que" question_id="'+question_id+'" type="button">删除题目</a>'
                  + '</div>'
            question_body_html += '<div class="card-body">'
                + '<p class="question-body">（单选题）' + questions[question_id]['body'] + '}</p>'
                + '<div style="float:left;padding-right:50px;padding-left:50p">'
            if(questions[question_id]['options']['A']){
                question_body_html += '<p>A、' + questions[question_id]['options']['A']['body'] + ' </p>'
                    + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
            }
            if(questions[question_id]['options']['B']){
                question_body_html += '<p>B、' + questions[question_id]['options']['B']['body'] + ' </p>'
                    + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
            }
            if(questions[question_id]['options']['C']){
                question_body_html += '<p>C、' + questions[question_id]['options']['C']['body'] + ' </p>'
                    + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
            }
            if(questions[question_id]['options']['D']){
                question_body_html += '<p>D、' + questions[question_id]['options']['D']['body'] + ' </p>'
                    + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
            }
            question_body_html += '</div>'
                + '</div></div></div>'
        }
        $("#question-container").html(question_body_html);
        MathJax.Hub.Typeset();
        $("#page").html(page);
        $(location).attr('href', "#top");
      }
    });
  });
  //点击下一页
  $(document).on('click', '#up_page', function () {
    page = page + 1;
    $.get("{% url "ajax-get-own-question-by-id" %}?date=" + dataTime+"&node="+node + "&subject="+ subject + "&node_id="+ knowledge + "&questionId="+ questionId + "&page=" + page, function (data, status) {
      if (status == "success") {
        if(data == 'error'){
            page = page - 1;
            return ;
        }
        var questions = JSON.parse(data);
        var question_body_html = ''
        for (question_id in questions) {
          question_body_html += '<div class="col-lg-12">'
                  + '<div class="card mb-4" question-id="' + question_id + '">'
                  + '<div class="card-header">'
                  + '<button class="btn btn-primary select-btn" type="button" onclick="checkQuestionFunction(' + question_id + ')">选择题目</button> ' + question_id
                  + '<a href="/abc/quiz/upload-question/?question_id=' + question_id + '"' + 'id="edit-' + question_id + '"' + ' type="button">编辑题目</a>'
                  + '<a  class="detele_que" question_id="'+question_id+'" type="button">删除题目</a>'
                  + '</div>'
            question_body_html += '<div class="card-body">'
                + '<p class="question-body">（单选题）' + questions[question_id]['body'] + '}</p>'
                + '<div style="float:left;padding-right:50px;padding-left:50p">'
            if(questions[question_id]['options']['A']){
                question_body_html += '<p>A、' + questions[question_id]['options']['A']['body'] + ' </p>'
                    + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
            }
            if(questions[question_id]['options']['B']){
                question_body_html += '<p>B、' + questions[question_id]['options']['B']['body'] + ' </p>'
                    + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
            }
            if(questions[question_id]['options']['C']){
                question_body_html += '<p>C、' + questions[question_id]['options']['C']['body'] + ' </p>'
                    + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
            }
            if(questions[question_id]['options']['D']){
                question_body_html += '<p>D、' + questions[question_id]['options']['D']['body'] + ' </p>'
                    + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
            }
            question_body_html += '</div>'
                + '</div></div></div>'
        }
        $("#question-container").html(question_body_html);
        $("#page").html(page);
        MathJax.Hub.Typeset();
        $(location).attr('href', "#top");
      }
    });
  });



  var deleteQuestion = function (questionId) {
    
  }



</script>


<script type="text/javascript" src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
          var page = 1;
          var total_score = 0;
          var nodes_arr = '';
          var subject = '';
          var questionId = '';
          var dataTime = '';
          var node = '';
					$(document).on('click', '.detele_que', function () {
							var question_id=$(this).attr("question_id")
							$.get("{% url "ajax_delete_question" %}?question_id=" + question_id, function (data, status) {
					      if (status == "OK") {
					        alert("删除成功！")
					      }else{
					      	alert("删除失败！")
					      }
    					})
					})		
			
          $("#nodeSearchBar").focus(function(){
            $(this).next().css("display", "block");
          })


          $("#nodeSearchBar").blur(function(){
            var t = $(this);
            setTimeout(function(){
              t.next().css("display", "none");
            }, 750);

          })

          $("#subjectSearchBar").focus(function(){
            $(this).next().css("display", "block");
          })


          $("#subjectSearchBar").blur(function(){
            var t = $(this);
            setTimeout(function(){
              t.next().css("display", "none");
            }, 750);

          })

          $("#submit-quiz").click(function()
          {
            $.ajax({
              method: "POST",
              url: "{% url "compose-quiz" %}",
              data: { marking: false, csrfmiddlewaretoken: '{{ csrf_token }}' }
            })
            .done(function( msg ) {
              alert('yes');
            });

          })



          $(".node_table").on("click", ".node_item", function(){
            $(this).parent().parent().parent().prev().val($(this).find('td').html());
            var parent_id = $(this).parent().parent().attr('id');
            //subjects
            if(parent_id == "subject_table")
            {
              subject = $(this).attr("id");
            }
            //knowledge node
            else{
              nodes_arr = $(this).attr("id");
            }
          });


          var old_val = "";

          $(".score_input").on("change", function(){


            total_score = 0;

            $(".score_input").each(function(){
              if($(this).val() == '')
              {
                $(this).val(0);
              }
              else if($(this).val() < 0)
              {
                $(this).val(0);
              }

              total_score += parseInt($(this).val());
            });
            $("#total_score").html(total_score);

          });

          $(".score_input").on("click", function(){
            $(this).val('');
          });

          $("#nodeSearchBar").on("change input",function(){
            var node_input = $(this);
            var val = $(this).val();

            if(val == old_val)
              return;

            setTimeout(function(){
              if(node_input.val() == val)
              {
                old_val = val;

                $.ajax({
                  method: "GET",
                  url: "{% url "ajax-nodes" %}",
                  data: { text: old_val }
                })
                .done(function( msg ) {
                  var l = JSON.parse(msg);
                  s = "";
                  for(i in l){
                    var s = s + '<tr class="node_item" id="'+ l[i][0] +  '"><td>' + l[i][1] +  '</td></tr>';
                  }

                  node_input.next().find("tbody").html(s);

                });


              }

            }, 750);
          });

          $("#subjectSearchBar").on("click",function(){
                var t = $(this).next();

            setTimeout(function(){

                $.ajax({
                  method: "GET",
                  url: "{% url "ajax-subjects" %}",
                  
                })
                .done(function( msg ) {
                  var l = JSON.parse(msg);
                  s = "";
                  for(i in l){
                    var s = s + '<tr class="node_item" id="'+ l[i][0] +  '"><td>' + l[i][1] +  '</td></tr>';
                  }
                  t.find("tbody").html(s);

                });
            }, 750);
          });

//regex settings
String.prototype.format = function() {
 if(arguments.length == 0) return this;
 var param = arguments[0];
 var s = this;
 if(typeof(param) == 'object') {
  for(var key in param)
   s = s.replace(new RegExp("\\{" + key + "\\}", "g"), param[key]);
  return s;
 } else {
  for(var i = 0; i < arguments.length; i++)
   s = s.replace(new RegExp("\\{" + i + "\\}", "g"), arguments[i]);
  return s;
 }
}

        //搜索题目
        //$("#search-btn").click(function(){
          var clickQuestionFunction1 = function(p){
          htmlString = '<span style="padding: 10px;cursor: pointer" id="down_page1">上一页</span>|<span style="padding: 10px" id="page1">'+p+'</span>|<span style="padding: 10px;cursor: pointer" id="up_page1">下一页</span><input style="width:30px" id="pageInput1" value="'+p+'"/> <span  id="jump-page1" style="padding: 10px;cursor: pointer" >跳转</span>'
            $("#personQuestionList").html(htmlString);
            questionId = $("#questionIdSearchBar").val();
            dataTime = $('#meeting').val();
            page = parseInt(p);
            node = $('input:radio[name="node"]:checked').val();
          $.ajax({
            method: "GET",
            url: "{% url "ajax-get-questions" %}",
            data: { node_id: nodes_arr, subject: subject ,node:node,date:dataTime,questionId:questionId,page:page}
          })
          .done(function( msg ) {
              var question_body_html = '';
              var questions = JSON.parse(msg);
              for (question_id in questions) {
                  question_body_html += '<div class="col-lg-12">'
                      + '<div class="card mb-4" question-id="' + question_id + '">'
                      + '<div class="card-header">'
                      + '<button class="btn btn-primary select-btn" type="button" onclick="checkQuestionFunction(' + question_id + ')">选择题目</button> ' + question_id
                      + '<a href="/abc/quiz/upload-question/?question_id=' + question_id + '"' + 'id="edit-' + question_id + '"' + ' type="button">编辑题目</a>'
                      + '<a class="detele_que" question_id="'+question_id+'" type="button">删除题目</a>'
                      + '</div>'
                  question_body_html += '<div class="card-body">'
                      + '<p class="question-body">（单选题）' + questions[question_id]['body'] + '}</p>'
                      + '<div style="float:left;padding-right:50px;padding-left:50p">'
                          if(questions[question_id]['options']['A']){
                              question_body_html += '<p>A、' + questions[question_id]['options']['A']['body'] + ' </p>'
                                  + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
                          }
                          if(questions[question_id]['options']['B']){
                              question_body_html += '<p>B、' + questions[question_id]['options']['B']['body'] + ' </p>'
                                  + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
                          }
                            if(questions[question_id]['options']['C']){
                                question_body_html += '<p>C、' + questions[question_id]['options']['C']['body'] + ' </p>'
                                + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
                            }
                            if(questions[question_id]['options']['D']){
                                question_body_html += '<p>D、' + questions[question_id]['options']['D']['body'] + ' </p>'
                                 + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
                            }
                            question_body_html += '</div>'
                                + '</div></div></div>'
              }
              $("#question-container").html(question_body_html);
            MathJax.Hub.Typeset();
          });
        }

        $(document).on('click', '#search-btn', function(){
                 clickQuestionFunction1(1); 
             });

             $(document).on('click','#jump-page1',function(){
                 var jumpPage = $("#pageInput1").val();
                 clickQuestionFunction1(jumpPage);
             });



            //点击上一页
            $(document).on('click', '#down_page1', function () {
                if (page > 1) {
                    page = page - 1
                }
                $.get("{% url "ajax-get-questions" %}?date=" + dataTime+"&node="+node + "&subject="+ subject + "&node_id="+ knowledge + "&questionId="+ questionId + "&page=" + page, function (data, status) {
                    if (status == "success") {
                        var questions = JSON.parse(data);
                        var question_body_html = ''
                        for (question_id in questions) {
                            question_body_html += '<div class="col-lg-12">'
                                + '<div class="card mb-4" question-id="' + question_id + '">'
                                + '<div class="card-header">'
                                + '<button class="btn btn-primary select-btn" type="button" onclick="checkQuestionFunction(' + question_id + ')">选择题目</button> ' + question_id
                                + '<a href="/abc/quiz/upload-question/?question_id=' + question_id + '"' + 'id="edit-' + question_id + '"' + ' type="button">编辑题目</a>'
                                + '<a  class="detele_que" question_id="'+question_id+'" type="button">删除题目</a>'
                                + '</div>'
                            question_body_html += '<div class="card-body">'
                                + '<p class="question-body">（单选题）' + questions[question_id]['body'] + '}</p>'
                                + '<div style="float:left;padding-right:50px;padding-left:50p">'
                            if(questions[question_id]['options']['A']){
                                question_body_html += '<p>A、' + questions[question_id]['options']['A']['body'] + ' </p>'
                                    + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
                            }
                            if(questions[question_id]['options']['B']){
                                question_body_html += '<p>B、' + questions[question_id]['options']['B']['body'] + ' </p>'
                                    + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
                            } 
                            if(questions[question_id]['options']['C']){
                                question_body_html += '<p>C、' + questions[question_id]['options']['C']['body'] + ' </p>'
                                    + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
                            }
                            if(questions[question_id]['options']['D']){
                                question_body_html += '<p>D、' + questions[question_id]['options']['D']['body'] + ' </p>'
                                    + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
                            }
                            question_body_html += '</div>'
                                + '</div></div></div>'
                        }
                        $("#question-container").html(question_body_html);
                        MathJax.Hub.Typeset();
                        $("#page1").html(page);
                        $(location).attr('href', "#top");
                    }
                });
            });
            //点击下一页
            $(document).on('click', '#up_page1', function () {
                    page = page + 1;
                $.get("{% url "ajax-get-questions" %}?date=" + dataTime +"&node="+node+ "&subject="+ subject + "&node_id="+ knowledge + "&questionId="+ questionId + "&page=" + page, function (data, status) {
                    if (status == "success") {
                        if(data == 'error'){
                            page = page - 1;
                            return ;
                        }
                        var questions = JSON.parse(data);
                        var question_body_html = ''
                        for (question_id in questions) {
                            question_body_html += '<div class="col-lg-12">'
                                + '<div class="card mb-4" question-id="' + question_id + '">'
                                + '<div class="card-header">'
                                + '<button class="btn btn-primary select-btn" type="button" onclick="checkQuestionFunction(' + question_id + ')">选择题目</button> ' + question_id
                                + '<a href="/abc/quiz/upload-question/?question_id=' + question_id + '"' + 'id="edit-' + question_id + '"' + ' type="button">编辑题目</a>'
                                + '<a  class="detele_que" question_id="'+question_id+'" type="button">删除题目</a>'
                                + '</div>'
                            question_body_html += '<div class="card-body">'
                                + '<p class="question-body">（单选题）' + questions[question_id]['body'] + '}</p>'
                                + '<div style="float:left;padding-right:50px;padding-left:50p">'
                            if(questions[question_id]['options']['A']){
                                question_body_html += '<p>A、' + questions[question_id]['options']['A']['body'] + ' </p>'
                                    + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
                            }
                            if(questions[question_id]['options']['B']){
                                question_body_html += '<p>B、' + questions[question_id]['options']['B']['body'] + ' </p>'
                                    + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
                            }
                            if(questions[question_id]['options']['C']){
                                question_body_html += '<p>C、' + questions[question_id]['options']['C']['body'] + ' </p>'
                                    + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
                            }
                            if(questions[question_id]['options']['D']){
                                question_body_html += '<p>D、' + questions[question_id]['options']['D']['body'] + ' </p>'
                                    + '</div><div style="float:left;padding-right:50px;padding-left:50p">'
                            }
                            question_body_html += '</div>'
                                + '</div></div></div>'
                        }
                        $("#question-container").html(question_body_html);
                        $("#page1").html(page);
                        MathJax.Hub.Typeset();
                        $(location).attr('href', "#top");
                    }
                });
            });
        })



      </script>
      {% endblock %}
