{% extends 'teacher/teacher_base.html'%}

{% load staticfiles %}
{% block "stylesheets" %}
  <link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
  <script type="text/x-mathjax-config">
	    MathJax.Hub.Config({
	        tex2jax: {inlineMath: [['$', '$'], ['/[', '/]'],['\\(', '\\)'], ['\\ce{', '\}']]},
	        messageStyle: "none"
	    });
	</script>

<style>
	.quiz-record-input{
		float: left;
		width: 25%
	}
	
	@media screen and (max-width: 500px)  {
		.quiz-record-input{
			float: left;
			width: 60%
		}
		.tableSize{
			font-size: 12px;
		}
	}
	
</style>

{% endblock %}

{% block "main_content" %}

<!-- Begin Page Content -->
<!-- Page Heading -->
	<!--试卷信息-->
{% if not quizInfo %}
	<div class="app-title">
		 <h3 class="h3 text-gray-800">试卷批改</h3>
	</div>
	<form action="{% url 'mark-quiz' %}" method="get" >
		<div class="quiz-record-input">
			<input name="quiz_record_id" class="bg-light form-control" placeholder="输入测评记录编号"/>
		</div>
		<div style="float: left;width: 25%;padding-left: 20px">
			<input type="submit" class="btn btn-primary" value="搜索试卷"/>
		</div>
	</form>
{% else %}

<div class="card shadow mb-4 tableSize">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">试卷批改</h6>
	</div>
	<div class="card-body">
		<div class="table-responsive">

			<table class="table table-bordered" id="dataTable" width="80%" cellspacing="0">
				<tr>
					<td width="50%">试卷名称:{{quizInfo.title}}</td>
					<td width="50%">班级:{{quizInfo.cls}}</td>
				</tr>
				<tr>
					<td colspan="7">
						<div>学生信息录入:
							<input type="text" id="studentId" class="form-control bg-light border-1 small" placeholder="学生学号" aria-label="Search" aria-describedby="basic-addon2" style="display:inline;width: 30%">
						</div>
					</td>
				</tr>
				<tr>
					<td width="70%">试题详情</td>
					<td width="30%">学生答案</td>
				</tr>
				{% for question in quizInfo.questions|dictsort:"question.order" %}
				<tr>
					<td>
						<p>{{question.question.order}}、
						{% if question.question.type == 'multi-choice' %}
						（单选题）
						{% endif %}
						{% if question.question.type == 'completion' %}
						（填空题）
						{% endif %}
						{{question.question.body}}</p>

						{% if question.question.image %}
						<div style="margin-left: 80px">
							<img class="question_img" src="{{TEMPLATES_IP}}/evaluation-img/{{question.question.image}}">
						</div>
						{% endif %}
						{% for o in question.options %}
						<div style="float:left;padding-right:50px;padding-left:50px">
							<p>{{o.order}}.{{o.body}} </p>
							{% if o.image %}
							<img class="question_img" src="{{TEMPLATES_IP}}/evaluation-img/{{o.image}}">
							{% endif %}
						</div>
						{% endfor %}
						{% if question.question.type == 'completion' %}
							正确答案：{{question.answer}}
						{% endif %}

					</td>
					<td >
						<div style="text-align:center;height: 100%;line-height:100px">
							<div style="display:inline-block">
								{% if question.question.type == 'multi-choice' %}
								学生选择：
								<input type="text" style="text-transform: uppercase;display:inline;width: 30%" maxlength="1" order_id="{{question.question.order}}" class="form-control bg-light border-1 small scoreInput {{question.question.order}}" placeholder="输入结果" id="{{question.question_id}}" aria-label="Search" aria-describedby="basic-addon2"><br>
								{% endif %}

								{% if question.question.type == 'completion' %}
								学生选择：
								<select class="form-control" order_id="{{question.question.order}}" id="{{question.question_id}}" class="scoreSelect {{question.question.order}}" style="display: inline;width: 50%"><br>
									<option value="false" class = "option_false" question_id="{{question.question_id}}" order_id="{{question.question.order}}">错误</option>
									<option value="true" class = "option_true" question_id="{{question.question_id}}" order_id="{{question.question.order}}">正确</option>
									<option value="" selected hidden></option>
								</select>
								{% endif %}
							</div>
						</div>
					</td>
				</tr>
				{% endfor %}
				<tr>
					<td colspan="7">
						<div class="d-sm-flex align-items-center justify-content-between">
							<p>分数合计: <span id="total_score">0</span>分 </p>
							<div class="input-group-append" style="float: none">
								<button class="btn btn-primary" id="submit" type="button">
									<i class="fas fa-search fa-sm">确认提交</i>
								</button>
								<button class="btn btn-primary" id="submitAndNext" type="button" style="margin-left: 20px;">
									<i class="fas fa-search fa-sm">下一个</i>
								</button>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

{% endif %}
<!-- /.container-fluid -->
{% endblock %}

{% block "scripts" %}
<script type="text/javascript" async
        src="https://cdn.bootcss.com/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    MathJax.Ajax.config.path["mhchem"] =
        "https://cdnjs.cloudflare.com/ajax/libs/mathjax-mhchem/3.3.2";
    MathJax.Hub.Config({
        TeX: {
            extensions: ["[mhchem]/mhchem.js"]
        }
    });
</script>
<script src="{% static "assets/js/image.js" %}" type="text/javascript"></script>
<script type="text/javascript">
	//图片大小设定
    $(document).ready(function() {
    	changeImageSize()
    })
</script>
<script src="{% static "assets/js/jquery.etui.msgbox.js" %}" type="text/javascript"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
  	$(document).ready(function() {
		$("input").val("");
		var quizInfo = {{json_data | safe}};
		var answer = {};
		var score = 0;
		var quizRecordId = quizInfo.quizRecordId;
		var questions = quizInfo.questions;
		
		/*每次单选题输入信息后，判断答案是否正确，计算分数返回*/
		$(".scoreInput").blur(function () {
			//alert("test")
			var id = $(this).attr("id")
			if (id != 'studentId') {
				var options = []
				var q_score = 0

				//获取对应的题目信息
				for (q in questions) {
					if (id == questions[q].question_id) {
						options = questions[q].options
						q_score = questions[q].question.score
						break;
					}
				}
	
				//获取题目对应的正确答案
				var true_option = ''
				for (option in options) {
					if (options[option]['is_correct']) {
						true_option = options[option]['order']
					}
				}
				
				//判断答案是否正确
				var value = $(this).val();
				//console.log(value)
				var st = /^[a-dA-D]+$/;
				if (value) {
					if (!st.test(value)) {
						alert("输入格式错误，请输入选项编号")
						$(this).val('')
					}
				} else {
					value = '';
				}

				value = value.toUpperCase()
				if (id in answer) {
					if (answer[id] == true_option && value != true_option) {
						score = score - q_score
					} else if (answer[id] != true_option && value == true_option) {
						score = score + q_score
					}
				} else {
					if (value == true_option) {
						score = score + q_score
					}
				}
				answer[id] = value
				$("#total_score").html(score);
			}
		});
		//填空题错误点击事件
		$(".option_false").click(function(){
			//获取对应的题目的分数
			var id = $(this).attr('question_id')
			var value = "F"
			for (q in questions) {
				if (id == questions[q].question_id) {
					q_score = questions[q].question.score
					break;
				}
			}
			console.log(value)
			if (id in answer) {
				if (answer[id] == "T") {
					score = score - q_score
				}
			}
			answer[id] = value
			console.log(answer)
			$("#total_score").html(score);

			var order_id = $(this).attr("order_id");
			order_id = parseInt(order_id) + 1;
			var str = "." + order_id ;
			$(str).focus();
		});

		//填空题正确点击事件
		$(".option_true").click(function(){
			var id = $(this).attr('question_id')
			var value = "T"
			for (q in questions) {
				if (id == questions[q].question_id) {
					q_score = questions[q].question.score
					break;
				}
			}
			if (id in answer) {
				if (answer[id] == "F") {
					score = score + q_score
				}
			} else {
				score = score + q_score
			}
			answer[id] = value
			console.log(answer)
			$("#total_score").html(score);

			var order_id = $(this).attr("order_id");
			order_id = parseInt(order_id) + 1;
			var str = "." + order_id ;
			$(str).focus();
		})
		/*每次填空题输入信息后，计算分数返回*/
		$(".scoreSelect").blur(function () {
			var id = $(this).attr("id")
			if (id != 'studentId') {
				var q_score = 0

				//获取对应的题目的分数
				for (q in questions) {
					if (id == questions[q].question_id) {
						q_score = questions[q].question.score
						break;
					}
				}
				
				//判断答案是否正确
				var value = $(this).val();
				console.log(value)
				if (id in answer) {
					if (answer[id] == true) {
						score = score - q_score
					} else if (answer[id] == false) {
						score = score + q_score
					}
				} else {
					if (value == true) {
						score = score + q_score
					}
				}
				answer[id] = value
				$("#total_score").html(score);
			}
		});

		// 点击提交，将answer数据发送到后台处理
		$("#submit").click(function () {
			var r = confirm("即将提交试卷答案，是否继续？");
			if (r == true) {
				var studentId = $("#studentId").val();
				if (!studentId) {
					alert('请输入学生学号')
				} else {
					var data = {
						"questionAndAnswer": JSON.stringify(answer),
						"quizRecordId": quizRecordId,
						"studentId": studentId
					}
					$.ajax({
						type: 'POST',
						url: "{% url "mark-quiz" %}",
						dataType: 'json',
						contentType: 'application/json;charset=UTF-8',
						data: JSON.stringify(data),
						success: function (data, status) {
							if (data.isFinish) {
								alert("提交成功!")
								$(location).attr('href', '{% url "mark-quiz" %}');
							} else {
								alert("提交失败！")
							}
						}, error: function (data, statue) {
							var text = data.responseText;
							switch (text) {
								case"student not existed": {
									title = '提交失败！';
									htmlString = '<span style="color: red">该学生查询为空！</span>'
									$.setInformation.Confirm(title, htmlString)
								}
									break;
								case"subject not existed": {
									title = '提交失败！';
									htmlString = '<span style="color: red">学科不能为空！</span>'
									$.setInformation.Confirm(title, htmlString)
								}
									break;
								default: {
									title = '提交失败！';
									htmlString = '<span style="color: red">系统错误，提交失败！</span>'
									$.setInformation.Confirm(title, htmlString)
								}
							}
						}
					})
				}
			}
		});

		//点击提交，将answer数据发送到后台处理并且清空所有输入框
		$("#submitAndNext").click(function () {
			var studentId = $("#studentId").val();
			//console.log(studentId)
			if (!studentId) {
				alert('请输入学生学号')
			} else {
				var data = {
					"questionAndAnswer": JSON.stringify(answer),
					"quizRecordId": quizRecordId,
					"studentId": studentId
				};
				//console.log("下一个");
				$.ajax({
					type: 'POST',
					url: "{% url "mark-quiz" %}",
					dataType: 'json',
					//contentType:'application/json;charset=UTF-8',
					data: JSON.stringify(data),
					success: function (data, status) {
						if (data.isFinish) {
							alert("提交成功！")
							$("input").val("");
							studentId = ''
							answer = {}
							score = 0
							//分数变化
							$("#total_score").html(score);
						} else {
							alert("提交失败！")
						}
					}, error: function (data, statue) {
						var text = data.responseText;
						switch (text) {
							case"student not existed": {
								title = '提交失败！';
								htmlString = '<span style="color: red">该学生查询为空！</span>'
								$.setInformation.Confirm(title, htmlString)
							}
								break;
							case"subject not existed": {
								title = '提交失败！';
								htmlString = '<span style="color: red">学科不能为空！</span>'
								$.setInformation.Confirm(title, htmlString)
							}
								break;
							default: {
								title = '提交失败！';
								htmlString = '<span style="color: red">系统错误，提交失败！</span>'
								$.setInformation.Confirm(title, htmlString)
							}
						}
					}
				})
			}
		});
		//焦点跳转
		$(".scoreInput").keyup(function () {
			var value = $(this).val();
			console.log(value);
			if (value.length == 1) {
				var st = /^[a-dA-D]+$/;
				if (value) {
					if (!st.test(value)) {
						alert("输入格式错误，请输入选项编号")
						$(this).val('')
					}else {
						var order_id = $(this).attr("order_id");
						order_id = parseInt(order_id) + 1;
						//var str = "input[order_id='" + order_id + "']";
						//$(str).focus();
						var str = "." + order_id ;
						$(str).focus();
					}
				} else {
					value = '';
				}
			}
		});
	})

</script>
{% endblock %}
