{% extends 'teacher/teacher_base.html'%} {% block "main_content" %}

<!-- Begin Page Content -->

<!-- Page Heading -->
<div class="app-title">
  <h3>我的测试记录</h3>
</div>
<div class="row">
  <div class="col-lg-12">
	  <div class="tile">
		  <div class="tile-body">
        <table
          class="table table-bordered table-hover"
          cellpadding="0"
		  id="dataTable"
          cellspacing="0"
        >
          <thead>
            <th>编号</th>
            <th>试卷名称</th>
            <th>班级</th>
            <th>科目</th>
            <th>未参加人数</th>
            <th>组卷人</th>
            <th>操作</th>
          </thead>
          <tbody>
            {% for quiz in quizInfo %}
            <tr>
              <td> <a id="{{quiz.id}}" href="javascript:0" name="quiz">{{quiz.id}}</a></td>
              <td>{{quiz.info.title}}</td>
              <td>{{quiz.cls}}</td>
              <td>{{quiz.subject}}</td>
              <td>{{quiz.non_participants_num}}</td>
              <td>{{quiz.generator}}</td>
              <td><a href = "{% url "quiz-record" %}?quiz_record_id={{quiz.id}}">查看详情</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
		  </div>
	  </div>
  </div>
</div>
{% endblock %}
{% block "scripts" %}
<script type="text/javascript" src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
  /*卡片的点击事件*/
   $("a[name='quiz']").click(function () {
       var quizId= $(this).attr("id")
       //console.log(quizId)
       $(location).attr('href', "{% url "quiz-record" %}?quiz_record_id="+quizId);
   })
</script>
{% endblock %}
