{% extends 'teacher/teacher_base.html'%}

{% block "main_content" %}

        <!-- Begin Page Content -->

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">我的测试记录</h1>
          </div>
		  <div class="row">
          	{% for quiz in quizInfo %} 
            <div class="col-lg-6">
              <!-- Default Card Example -->
              <div class="card mb-4" id="{{quiz.id}}" style="cursor:pointer" name="quiz">
                <div class="card-header">
                  <h6 class="m-0 font-weight-bold text-primary">试卷名称:{{quiz.info.title}}</h6>                
                </div>
                <div class="card-body">
                  <p>测评编号：{{quiz.id}}</p>
                  <p>组卷人：{{quiz.generator}}</p>
                  <p>班级：{{quiz.cls}}</p>
                  <p>科目：{{quiz.subject}}</p>
                </div>
              </div>
            </div>
           {% endfor %}
          </div>

          <!--<div class="row">

            <div class="col-lg-6">-->

              <!-- Default Card Example -->
              <!--<div class="card mb-4">
                <div class="card-header">
                  <h6 class="m-0 font-weight-bold text-primary">试卷名称</h6>                
                </div>
                <div class="card-body">
                  <p>年级</p>
                  <p>组卷人：XXX</p>
                  <p>科目：XXX</p>
                  <p>知识点范围：XXX</p>
                  <p>已考人数：XXX</p>
                  <p>平均成绩：XXX</p>

                </div>
              </div>
              <div class="card mb-4">
                <div class="card-header">
                  <h6 class="m-0 font-weight-bold text-primary">试卷名称</h6>                
                </div>
                <div class="card-body">
                  <p>年级</p>
                  <p>组卷人：XXX</p>
                  <p>科目：XXX</p>
                  <p>知识点范围：XXX</p>
                  <p>已考人数：XXX</p>
                  <p>平均成绩：XXX</p>

                </div>
              </div>


            </div>

            <div class="col-lg-6">
              <div class="card mb-4">
                <div class="card-header">
                  <h6 class="m-0 font-weight-bold text-primary">试卷名称</h6>                
                </div>
                <div class="card-body">
                  <p>年级</p>
                  <p>组卷人：XXX</p>
                  <p>科目：XXX</p>
                  <p>知识点范围：XXX</p>
                  <p>已考人数：XXX</p>
                  <p>平均成绩：XXX</p>

                </div>
              </div>
              
              <div class="card mb-4">
                <div class="card-header">
                  <h6 class="m-0 font-weight-bold text-primary">试卷名称</h6>                
                </div>
                <div class="card-body">
                  <p>年级</p>
                  <p>组卷人：XXX</p>
                  <p>科目：XXX</p>
                  <p>知识点范围：XXX</p>
                  <p>已考人数：XXX</p>
                  <p>平均成绩：XXX</p>

                </div>
              </div>


            </div>

          </div>-->

        <!-- /.container-fluid -->
{% endblock %}
{% block "scripts" %}
	<script type="text/javascript" src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript">
       /*卡片的点击事件*/
        $("div[name='quiz']").click(function () {
            var quizId= $(this).attr("id")
            //console.log(quizId)
            $(location).attr('href', "{% url "quiz-page" %}?quizRecordId="+quizId);
        })
	</script>
{% endblock %}
