{% extends 'teacher/teacher_base.html'%}

{% block "stylesheets" %}
    <link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
    <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/x-mathjax-config">
	    MathJax.Hub.Config({
	        tex2jax: {inlineMath: [['$', '$'], ['/[', '/]'],['\\(', '\\)'], ['\\ce{', '\}']]},
	        messageStyle: "none"
	    });
	</script>
{% endblock %}

{% block "main_content" %}

<!-- Begin Page Content -->

<!-- Page Heading -->


<!-- Page Heading -->
<!--试卷信息-->

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">试卷详情</h1>
    {% if not quiz_record_id %}
    <a id ="pdf" href="http://47.110.253.251/templates-static/templates/pdf/{{quiz_paper_url}}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> 导出PDF</a>
    {% endif %}
</div>
<p>试卷名称:{{quizInfo.info.title}}</p>
<p>科目：{{quizInfo.subject}}</p>
{% if not quiz_record_id %}
<div style="height:60px;">
    <div style="float:left"  class="input-group-btn">   
        <input type="text"  placeholder="请选择班级" class="dropdown-toggle" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false" style="text-align: left;width:160px;height:40px" readonly="readonly" id="classInput" >
        <ul class="dropdown-menu dropdown-menu-left">
            <li class="classCheckLi" id="select">
                <div class="dropdown-item" style="cursor:hand" name="1">1</div>
            </li>
        </ul>
    </div>
    <div style="float:left;padding-left:20px">
        <button type="button" class="btn btn-primary" id="publish">发布测试</button>
    </div>
</div>
{% endif %}
<!--题目卡片-->
<div class="row" id="question-container">
    {% for q in questions %}
    <div class="col-lg-6">
        <!-- Default Card Example -->
        <div class="card mb-4">
            <div class="card-header">                              
                <h6 class="m-0 font-weight-bold text-primary"style="line-height: 1.5rem;">
                    知识点：{% for k in q.knowledge_nodes %} {{k.title}}； {% endfor %}
                </h6>                            
            </div>
            <div class="card-body">
                <p>{{q.question.body}}</p>
                    {% if q.question.img %}
                        <div>
                        <img src="http://47.110.253.251/evaluation-img/{{q.question.img}}">
                        </div>
                    {% endif %}
                    {% for o in q.options %}
                    		<div style="float:left;padding-right:50px;padding-left:50p">
                        <p>{{o.order}}.{{o.body}} </p>
                        {% if o.img %}
                            <img src="http://47.110.253.251/evaluation-img/{{o.img}}">
                        {% endif %}
                      </div>
                {% endfor %}
                <div style="width:100%;clear:both">
                    <hr/>
                    <p>正确答案：{{q.true_option}}</p>
                    {% if q.correct_rate %}
                    <P>正确率：{{q.correct_rate}}</P>
                    {% endif %}
                    <p>解析：{{q.question.analysis}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- /.container-fluid -->
{% endblock %}
{% block "scripts" %}
<script type="text/javascript" async src="https://cdn.bootcss.com/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    MathJax.Ajax.config.path["mhchem"] = "https://cdnjs.cloudflare.com/ajax/libs/mathjax-mhchem/3.3.2";
    MathJax.Hub.Config({
        TeX: {
            extensions: ["[mhchem]/mhchem.js"],
        }
    });
</script>


<!--<script type="text/javascript" src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>-->
<script type="text/javascript">
	window.onload=function(){
        MathJax.Hub.Queue(['Typeset', MathJax.Hub, document.getElementById("question-container")]);
        // MathJax.Hub.Typeset();
	}
    var quiz_id="{{quizInfo.id}}"
    //生成班级选择列表
     $(document).ready(function () {
        $.get("{% url "ajax-get-own-classes" %}",function(data,status){
            if(data=='user is not teacher'){
            }else if(data=="cls not existed"){
            }else{
                data=JSON.parse(data)
                html=''
                for (var key in data){
                    html+='<div class="dropdown-item" style="cursor:hand" name="'+key+'">'+data[key]+'</div>'
                }
                $('#select').html(html)
            }
        })
        $("#classInput").attr('name','')
        $("#classInput").val('')

     })
     //选择班级点击事件
     $(document).on('click','.dropdown-item',function(){
        var id = $(this).attr('name')
        var name = $(this).text()
        //console.log(id)
        //console.log(name)
        $("#classInput").attr('name',id)
        $("#classInput").val(name)
     })
     //发布测试
     $("#publish").click(function(){
        var id = $('#classInput').attr("name")
        var name = $("#classInput").val()
        if (!name){
            alert("请选择要进行测试的班级！")
        }else{
             $.post("{% url "ajax-save-quiz-records" %}",{"cls_id":id,"quiz_id":quiz_id},function(data,status){
                if (data=="OK"){
                    alert("发布成功！")
                    $("#classInput").val('')
                } else if(data=='quiz not having'){
                    alert('选择的试卷不存在！')
                }else if(data=="class not having"){
                    alert('选择的班级不存在！')
                }else if (data=="user not having this class"){
                    alert('该用户没有这个班级！')
                }else if (data=="quiz record is having"){
                    alert("测试记录已存在！")
                }else{
                    alert("发布失败！")
                }
             })
        }
     })
     //$("#pdf").click(function(){ 
     //})

</script>
{% endblock %}
