{% extends 'teacher/teacher_base.html'%}
{% load staticfiles %}
{% block "main_content" %}

        <!-- Begin Page Content -->
        

          <!-- Page Heading -->

          <!-- Page Heading -->

          <div class="app-title">
            <h4>试卷详情</h4>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> 重新发布</a>

            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> 导出PDF</a>
          </div>
          <p>组卷人：XXX</p>
          <p>科目：XXX</p>
          <p>知识点范围：XXX</p>
          <p>已考人数：XXX</p>
          <p>平均成绩：XXX</p>

            <!-- Earnings (Monthly) Card Example -->


          <div class="row">

            <div class="col-lg-6">

              <!-- Default Card Example -->
              <div class="card mb-4">

                <div class="card-body">
                  <p>木星绕太阳运行的轨道都可以看作是圆形。已知木星的轨道半径约为地球轨道半径的5.2倍，则木星与地球绕太阳运行的线速度之比约为</p>
                  <p>A. 11：25 </p>
                  <p>B. 7：9</p>

                </div>
              </div>
              <div class="card mb-4">

                <div class="card-body">
                  <p>木星绕太阳运行的轨道都可以看作是圆形。已知木星的轨道半径约为地球轨道半径的5.2倍，则木星与地球绕太阳运行的线速度之比约为</p>
                  <p>A. 11：25 </p>
                  <p>B. 7：9</p>

                </div>
              </div>

            </div>

            <div class="col-lg-6">
              <div class="card mb-4">

                <div class="card-body">
                  <p>木星绕太阳运行的轨道都可以看作是圆形。已知木星的轨道半径约为地球轨道半径的5.2倍，则木星与地球绕太阳运行的线速度之比约为</p>
                  <p>A. 11：25 </p>
                  <p>B. 7：9</p>

                </div>
              </div>
              <div class="card mb-4">

                <div class="card-body">
                  <p>木星绕太阳运行的轨道都可以看作是圆形。已知木星的轨道半径约为地球轨道半径的5.2倍，则木星与地球绕太阳运行的线速度之比约为</p>
                  <p>A. 11：25 </p>
                  <p>B. 7：9</p>

                </div>
              </div>


            </div>

          </div>



{% endblock %}

{% block "scripts" %}
  <!-- Page level plugins -->

{% endblock %}
